/* You can add global styles to this file, and also import other style files */
@import"~ngx-smart-modal/ngx-smart-modal";
/*Tamaños de texto*/
.fg-30 {
    font-size: 30px;
}

.fg-26 {
    font-size: 26px;
}

.fg-24 {
    font-size: 24px;
}

.fg-22 {
    font-size: 22px;
}

.fg-20 {
    font-size: 20px;
}

.fg-18 {
    font-size: 18px;
}

.fg-16 {
    font-size: 16px !important;
}

.fg-15 {
    font-size: 15px;
}

.fg-12 {
    font-size: 12px;
}

.fg-50 {
    font-size: 50px;
}

@media screen and (max-width: 480px) {
    .fg-26 {
        font-size: 13px;
    } 
    
}

/* With tamaños*/


/* Padding tamaños*/

.pt-6 {
    padding-top: 6rem!important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
