<app-header></app-header>
<div class="bg-register">
    <div class="container alt-padding">
      <div class="">
        <div class="">
          <div class="">
            <div class="">
              <div class="w-50 mx-auto card-body text-light">
                <form [formGroup]="companyForm" (ngSubmit)="registrarEmpresa()">
                  <div class="#">
                    <div class="#">
                      <h1 class="text-center">Registrate</h1>
                    </div>
                    <div class="#">
                        <div class="#">
                            <label class="control-label">Nombre de Usuario</label>
                            <input type="text" class="form-control" formControlName="username" placeholder="Ninesselas" [ngClass]="{ 'is-invalid': submitted &amp;&amp; companyForm.controls.username.errors }">
                            <div *ngIf="submitted &amp;&amp; companyForm.controls.username.errors" class="invalid-feedback">
                              <div *ngIf="companyForm.controls.username.errors.required">
                                Debes poner un nombre de usuario.
                              </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <label class="control-label">Correo</label>
                            <input type="email" class="form-control" formControlName="email" placeholder="info@ninesselas.com" [ngClass]="{ 'is-invalid': submitted &amp;&amp; companyForm.controls.email.errors }">
                            <div *ngIf="submitted &amp;&amp; companyForm.controls.email.errors" class="invalid-feedback">
                                <div *ngIf="companyForm.controls.email.errors.required">Correo electrónico es requerido</div>
                                <div *ngIf="companyForm.controls.email.errors.email">Email Inválida</div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <label class="control-label">Teléfono</label>
                            <input type="text" class="form-control" formControlName="telefono"  placeholder="+23371923789" [ngClass]="{ 'is-invalid': submitted &amp;&amp; companyForm.controls.telefono.errors }" >
                            <div *ngIf="submitted &amp;&amp; companyForm.controls.telefono.errors" class="invalid-feedback">
                                <div *ngIf="companyForm.controls.telefono.errors.required">El teléfono es requerido</div>
                                <div *ngIf="companyForm.get('telefono').hasError('pattern')">No es un numero de telefono valido</div>
                            </div>
                        </div>
                    </div>
                    <div class="#">
                        <div class="mt-2">
                            <label class="control-label">Ingresa tu contraseña</label>
                            <input type="Password" class="form-control" formControlName="password" placeholder="***********" [ngClass]="{ 'is-invalid': submitted &amp;&amp; companyForm.controls.password.errors }">
                            <div *ngIf="submitted && companyForm.controls.password.errors" class="invalid-feedback">
                                <div *ngIf="companyForm.controls.password.errors.required">La contraseña es requerida</div>
                                <div *ngIf="companyForm.controls.password.errors.minlength">La contraseña debe tener al menos 6 caracteres</div>
                            </div>
                          </div>

                          <div class="mt-2"><!-- Confirma Contraseña -->
                            <label>Confirma contraseña</label>
                            <input type="password" (keypress)="numberOnly($event)" formControlName="confirmPassword" class="form-control" placeholder="***********" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.confirmPassword.errors }">
                              <div *ngIf="submitted && companyForm.controls.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="companyForm.controls.confirmPassword.errors.required">Confirme que se requiere contraseña</div>
                                <div *ngIf="companyForm.controls.confirmPassword.errors.mustMatch">Las contraseñas deben coincidir</div>
                              </div>
                          </div>

                    </div>
                  </div>
                  <div class="mt-3 submit-btn">
                    <button class="btn btn-primary" type="submit">Registrarme</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>