<app-header></app-header>
<div class="bg-fondo">
    <div class="container contect-Ajuste mx-w d-flex">
        <div class="">
          <div class="">
            <a class="logo">Registro de Niños</a>
            <p class="mt-3">Llena el siguiente formulario</p>
          </div>
          <div class="">
            <div class="">
              <div class="">
                <div class="">
                  <div class="">
                    <span>Llena el siguiente formulario</span>
                  </div>
                  <form [formGroup]="childForm">
                    <div class="form-group">
                      <label class="control-label">Nombre de Usuario</label>
                      <input type="text" class="form-control"  formControlName="username" placeholder="Daniebro">
                    </div>

                    <div class="form-group">
                      <label class="control-label">Nombres Completos</label>
                      <input type="text" class="form-control"  formControlName="nombres" placeholder="Danni André">
                    </div>

                    <div class="form-group">
                      <label class="control-label">Apellidos Completos</label>
                      <input type="text" class="form-control"  formControlName="apellidos" placeholder="Almito Gil">
                    </div>

                    <div class="form-group">
                      <label class="control-label">Nombre Artístico</label>
                      <input type="text" class="form-control"  formControlName="nombreArtistico" placeholder="Almito Gil">
                    </div>

                    <div class="form-group">
                      <label class="control-label">Foto de Perfil</label>
                      <input type="file" (change)="onAvatarSelected($event)" formControlName="avatar"><br>
                    </div>

                    <div class="form-group">
                      <label>Libro de familiar</label>
                      <input type="file" (change)="onFamilyBookSelected($event)" formControlName="libroFamilia">
                    </div>

                    <div class="form-group">
                      <label>DNI del padre</label>
                      <input type="email" class="form-control"  formControlName="numeroDNIPadre" placeholder="30065089H">
                    </div>

                    <div class="form-group">
                      <label>DNI de la Madre</label>
                      <input type="email" class="form-control"  formControlName="numeroDNIMadre" placeholder="30065089H">
                    </div>

                    <div class="form-group">
                      <label>Correo electronico</label>
                      <input type="email" class="form-control"  formControlName="email" placeholder="name@example.com">
                    </div>

                    <div class="form-group">
                      <label>Contraseña</label>
                      <input type="password"  class="form-control" formControlName="password" aria-describedby="passwordHelpInline">
                    </div>

                    <div class="form-group">
                      <label>Confirma contraseña</label>
                      <input type="password" value="" class="form-control" placeholder="Confirm Password">
                    </div>

                    <fieldset class="form-group">
                      <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="sexo"  value="Masculino" checked>
                            <label class="form-check-label">
                              Masculino
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="sexo"  value="Femenino">
                            <label class="form-check-label">
                              Femenino
                            </label>
                          </div>
                        </div>
                      </div>
                    </fieldset>

                    <div class="form-group">
                      <label>Numero de Teléfono</label>
                      <input type="text" class="form-control"  formControlName="telefono" placeholder="Numero de teléfono">
                    </div>

                    <div class="form-group">
                      
                      <input type="text" class="form-control" formControlName="fechaNacimiento">
                    </div>

                    <div class="form-group">
                      <label class="control-label">Naciomnalidad</label>
                      <input type="text" class="form-control"  formControlName="nacionalidad" placeholder="Pais">
                    </div>
                    <div class="form-group">
                      <label class="control-label">Acento</label>
                      <input type="text" class="form-control"  formControlName="acento" placeholder="Daniebro">
                    </div>
                    <div class="form-group d-flex">
                      <div class="form-group mr-3">
                        <label class="control-label">Talla de camisa</label>
                        <input type="text" class="d-inline form-control"  formControlName="tallaCamisa" placeholder="talla de camisa">
                      </div>
                      <div class="form-group">
                        <label class="control-label">talla de chaqueta</label>
                        <input type="text" class="d-inline form-control"  formControlName="tallaChaqueta" placeholder="talla de chaqueta">
                      </div>
                      <div class="form-group mr-3">
                        <label class="control-label">Talla de pantalon</label>
                        <input type="text" class="d-inline form-control"  formControlName="tallaPantalon" placeholder="talla de pantalon">
                      </div>
                    </div>
                    <div class="form-group d-flex">
                      <div class="form-group mr-3">
                        <label class="control-label">Pie</label>
                        <input type="text" class="d-inline form-control"  formControlName="pie" placeholder="Pie">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Altura</label>
                        <input type="text" class="d-inline form-control"  formControlName="altura" placeholder="Altura">
                      </div>
                    </div>
                    <div class="form-group d-flex">
                      <div class="form-group mr-3">
                        <label class="control-label">Color de Piel</label>
                        <input type="text" class="d-inline form-control"  formControlName="colorPiel" placeholder="Color de Piel">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Color de Pelo</label>
                        <input type="text" class="d-inline form-control"  formControlName="colorPelo" placeholder="Color de Pelo">
                      </div>
                    </div>
                    <div class="form-group d-flex">
                      <div class="form-group mr-3">
                        <label class="control-label">Color de ojos</label>
                        <input type="text" class="d-inline form-control"  formControlName="colorOjos" placeholder="Color de ojos">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Code DNI</label>
                        <input type="text" class="d-inline form-control"  formControlName="numeroDNI" placeholder="#####">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Numero de Seguridad Social</label>
                      <input type="text" class="form-control"  formControlName="numeroSeguridadSocial" placeholder="Numero de Seguridad Social">
                    </div>
                    <div class="form-group">
                      <label class="control-label">Habilidades</label>
                        <select class="form-control">
                          <option>Seleccione...</option>
                          <option>Lenguaje de signos</option>
                          <option>Skater </option>
                          <option>Skater Acuático </option>
                          <option>Pompas Jabón</option>
                          <option>Presentador</option>
                          <option>Magia</option>
                          <option>Surf</option>
                          <option>Buceo</option>
                          <option>Surf</option>
                          <option>Cómico</option>
                          <option>Motocross</option>
                          <option>Mimo</option>
                          <option>Puenting</option>
                          <option>Sky</option>
                          <option>Parapente</option>
                          <option>Ciclismo BMX</option>
                          <option>Parkour snowboarding</option>
                          <option>Sombras chinescas</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Idiomas</label>
                      <select class="form-control">
                          <option>Seleccione...</option>
                          <option>Inglés</option>
                          <option>Frances</option>
                          <option>Alemén</option>
                          <option>Catalán</option>
                          <option>Otros</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Cantantes</label>
                      <select class="form-control">
                          <option>Seleccione...</option>
                          <option>Profesional</option>
                          <option>No Profesional</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Bailes</label>
                      <select class="form-control">
                          <option>Seleccione...</option>
                          <option>Profesional</option>
                          <option>No Profesional</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Musico</label>
                      <select class="form-control">
                          <option>Seleccione...</option>
                          <option>Profesional</option>
                          <option>No Profesional</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Deportes</label>
                        <select class="form-control">
                          <option>Seleccione...</option>
                          <option>Tenis</option>
                          <option>Esgrima </option>
                          <option>Tiro con arco</option>
                          <option>Polo</option>
                          <option>Golf</option>
                          <option>Boxeo</option>
                          <option>Voleibol</option>
                          <option>Baloncesto</option>
                          <option>Montar a caballo</option>
                          <option>Natación</option>
                          <option>Padel</option>
                          <option>Artes marciales</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Descripción de Ultimos Trabajos</label>
                      <input type="text" class="d-inline form-control" formControlName="ultimosTrabajos" placeholder="Ultimos Trabajos">
                    </div>

                    <div class="form-group">
                      <button class="btn btn-primary" [formGroup]="childForm" (ngSubmit)="signupChild()">Registrame!</button>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                          Acepta los terminos del registro
                        </label>
                      </div>
                    </div>
                  </form>

                  <div class="info info--sm">
                    Al hacer clic en "Crear cuenta" certifico que tengo 16 años o más y acepto las
                    <a class="link-secondary--underlined" target="blank" routerLink="/terms">Condiciones de Uso</a>, la
                    <a class="link-secondary--underlined" target="blank" routerLink="/privacy">Política de Privacidad</a> y recibir novedades y promociones.
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              ¿Ya tienes cuenta?
              <a routerLink="/login" class="link-primary">
                Entrar
              </a>
            </div>
          </div>
        </div>
    </div>
</div>
<app-footer></app-footer>