.menu-foud{
    display: flex;
}
.menu-foud li{
    list-style: none;
    padding: 0px 20px 2px 2px;
}
.menu-foud li a{
    font-family: montserrat,sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0px 15px;
    font-size: 10px;
    transition: .2s all;
}
.bg-foud{
    background-image: url(/assets/img/error-404.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
#notfound {
    position: relative;
    height: 100vh;
}
#notfound .notfound {
    position: absolute;
    left: 65%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.notfound a {
    font-family: montserrat,sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #0b174a;
    font-size: 18px;
    -webkit-transition: .2s all;
    transition: .2s all;
}
.notfound .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0 auto 20px;
    z-index: -1;
}

.notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}