<!-- <app-header></app-header> -->
<div class="bg-foud" id="notfound">
        <!-- <img src="/assets/img/error-404.png" alt="Error-404"> -->
        <div class="notfound">
                <div class="notfound-404">
                        <h1>Oops!</h1>
                        <p>La Pagina que intentas ingresar, no esta en el servidor</p>
                        <h3>Error - 404</h3>
                        <div>
                                <p>Prueba mejor suerte en estos Link</p>
                                <ul class="menu-foud">
                                        <li><a href="/about">SOBRE NOSOTROS</a></li>
                                        <li><a href="/contac">CONTÁCTANOS</a></li>
                                        <li><a href="/empresa">EMPRESAS</a></li>
                                        <li><a href="/login">LOGIN</a></li>
                                </ul>
                        </div>
                </div>
                <a href="#">Ir al Home</a>
        </div>
</div>
<app-footer></app-footer>