<!-- End Navbar -->
<div class="content">
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Genere sus proyecto escénicos</h4>
              <p class="card-category">creación escénica a diferentes linderos artísticos y comunitarios</p>
            </div>
            <!--Buscador-->
            <div style="padding: 25px;"
            class="view view-cascade gradient-card-header blue-gradient narrower py-4 mx-2 mb-3 d-flex justify-content-between align-items-center">
              <div style="width: 50%;">
                <div class="md-form">
                  <input type="text" placeholder="Búsqueda por parámetros"
                    class="form-control" mdbInput>
                </div>
              </div>
              <a href="" class="white-text mx-3">Usuarios</a>
            </div>
            <div class="table-wrapper">
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                        <tr>
                          <td>ID</td>
                          <td>Nombres</td>
                          <td>Nombre Artistico</td>
                          <td>Genero</td>
                          <td>Fecha de nacimiento</td>
                          <td>País</td>
                          <td>Talla de pantalon</td>
                          <td>Talla de camisa</td>
                          <td>Seleccionar</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let art of ptyUser">
                            <td>{{art.id}}</td>
                            <td>{{art.fullname}}</td>
                            <td>{{art.artname}}</td>
                            <td>{{art.gender}}</td>
                            <td>{{art.country}}</td>
                            <td>{{art.day}}</td>
                            <td>{{art.sizePant}}</td>
                            <td>{{art.sizeShirt}}</td>
                            <td><mat-checkbox (click)="ptySeleccion(art)"></mat-checkbox></td>
                          </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
            <a href="" data-toggle="modal" data-target="#modalCreated">
              <button class="btn btn-primary">Crear</button>
            </a>
        </div>
      </div>
    </div>
</div>

<!-- Modal descripción del proyecto -->
<div class="modal fade" id="modalCreated" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h6 class="modal-title w-100 font-weight-bold">A continuación, llena los datos para crear tu proyecto</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <div class="example-container">
              <div class="example-container">
                  <mat-form-field>
                    <input id="pytname" 
                           [ngModelOptions]="{standalone: true}" 
                           [(ngModel)]="art.pytName" 
                           matInput placeholder="Titulo">
                  </mat-form-field>
              </div>
              <div class="example-container">
                  <mat-form-field>
                    <textarea id="pytdescript" 
                              [ngModelOptions]="{standalone: true}" 
                              [(ngModel)]="art.pytDescript" 
                              matInput placeholder="Descripción"></textarea>
                  </mat-form-field>
              </div>
          </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="ptyCrear()" data-dismiss="modal" aria-label="Close" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Tabla del proyecto -->
<div *ngIf="Oncreated" class="container pt-4">
  <div class="card-deck mb-3 text-center">
    <div class="col-4 card mb-4 shadow-sm">
      <div class="card-header mt-2">
        <h4 class="my-0 font-weight-normal">{{ art.pytName }}</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title pricing-card-title">
          {{ ptyUser.length}}
          <small class="text-muted">Personas</small>
        </h5>
        <p>{{ art.pytDescript }}</p>
        <div class="row">
          <div class="col-6">
              <a href="" data-toggle="modal" data-target="#modalProyecto">
                <i class="fas fa-user-edit"></i>
              </a>
          </div>
          <div class="col-6">
              <a >
                <i class="fas fa-trash-alt"></i>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de la tabla -->
<div class="modal fade" id="modalProyecto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{ art.pytName }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- End Navbar -->
        <div class="">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <p class="card-category">{{ art.pytDescript }}</p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                                <tr>
                                  <td>ID</td>
                                  <td>Nombres</td>
                                  <td>Nombre Artistico</td>
                                  <td>Genero</td>
                                  <td>Fecha de nacimiento</td>
                                  <td>País</td>
                                  <td>Talla de pantalon</td>
                                  <td>Talla de camisa</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{art.id}}</td>
                                    <td>{{art.fullname}}</td>
                                    <td>{{art.artname}}</td>
                                    <td>{{art.gender}}</td>
                                    <td>{{art.country}}</td>
                                    <td>{{art.day}}</td>
                                    <td>{{art.sizePant}}</td>
                                    <td>{{art.sizeShirt}}</td>
                                  </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
