.example-container > * {
  width: 100%;
}

.navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    z-index: 1;
}

.footer {
    padding: 24px 15px;
  }
  
  .footer.footer-default {
    background-color: #f2f2f2;
  }
  
  .footer nav {
    display: inline-block;
    padding-left: 0;
  }
  
  .footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer ul li {
    display: inline-block;
  }
  
  .footer ul li a {
    color: inherit;
    padding: 0.5rem;
    font-size: 0.8571em;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    text-decoration: none;
  }
  
  .footer .copyright {
    font-size: 0.8571em;
    line-height: 1.8;
  }
  
  .footer:after {
    display: table;
    clear: both;
    content: " ";
  }

.page-header footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer:not(.footer-big) nav ul li:first-child {
    margin-left: 0;
}

.table-responsive {
  max-height: 350px;
  overflow-y: auto;
  display: block;
}