<app-header></app-header>
<div class="h-100">
    <div class="forgot_password text-white text-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h1 class="mb-5">Por favor, introduce tu correo electrónico y recibirás
                los pasos para restablecer tu contraseña</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
                  <div class="col-12 col-md-7 mb-2 mb-md-0">
                    <input type="email" class="form-control form-control-lg" placeholder="Ingresa tu Email...">
                    <p class="forgot-password " routerLink="/home"><i class="fas fa-external-link-alt pr-2"></i>Volver Al Home</p>
                  </div>
                  <div class="col-12 col-md-5">
                    <button type="submit" class="btn btn-block btn-lg btn-ninessela">Recuperar contraseña!</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>