<footer class="footer pt-4 pb-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-12 h-100 text-center text-lg-left my-auto">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">⋅</li>
                <li class="list-inline-item">
                  <a routerLink="/contact">Contáctenos</a>
                </li>
                <li class="list-inline-item">⋅</li>
                <li class="list-inline-item">
                  <a routerLink="/terms">Terminos y condiciones</a>
                </li>
                <li class="list-inline-item">⋅</li>
                <li class="list-inline-item">
                  <a routerLink="/">Politica de privacidad</a>
                </li>
              </ul>
              <p class="text-muted small mb-4 mb-lg-0">© Ninesselas 2019. Todos los derechos reservados.</p>
            </div>
            <div class="col-lg-3 col-md-12 h-100 text-center text-lg-right">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fab fa-facebook fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item mr-3">
                  <a href="#">
                    <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-instagram fa-2x fa-fw"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </footer>