footer{
    background: #0b174a;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    color: white;
}
a {
    color: white !important;
    text-decoration: none;
    background-color: transparent;
}