<app-header></app-header>
<div class="bg-fondo text-light">
    <div class="container contect-Ajuste">
        <div class="pt-4 pl-3">
            <h1>Política de Tratamiento de Datos Personales </h1>
            <h4>Política de cookies</h4>
            <h6>En la página Política de Cookies puede consultar toda la información relativa a la política de recogida y tratamiento de las cookies.</h6>
                <p align="justify">
                    El Titular sólo obtiene y conserva la siguiente información acerca de los visitantes del Sitio Web:
                </p>
                <ul class="list-group list-group-flush">
                                <li align="justify" class="ml-5">El nombre de dominio del proveedor (PSI) y/o dirección IP que les da acceso a la red.</li>
                                <li align="justify" class="ml-5">La fecha y hora de acceso al sitio Web.</li>
                                <li align="justify" class="ml-5">La dirección de Internet origen del enlace que dirige al sitio Web.</li>
                                <li align="justify" class="ml-5">El número de visitantes diarios de cada sección.</li>
                                <li align="justify" class="ml-5">La información obtenida es totalmente anónima, y en ningún caso puede ser asociada a un Usuario concreto e identificado.</li>
                </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>