.modal-content {
    border: 0;
}
.bg-fondo{
    background-image: url(/assets/img/figuration-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
  }

  .mx-w{
    max-width: 800px;
    padding-right: 0px;
  }

.alt-actor{
    margin-top: 15%;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.marc-hv{
    position: absolute;
    top: 0;
    width: 100%;
}
.corp {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 65vh;
    top: 0;
    width: 100%;
    border-radius: 4px 0 0 4px;
}
.mt-6{
    margin-top: 4rem!important;
}
.mt-7{
    margin-top: 7rem!important;
}

@media (min-width: 992px){
    .modal--credentials--signup .modal-content {
        min-height: 602px;
        padding-left: 460px;
        overflow: hidden;
    }
}