<app-header></app-header>
<div class="modal-content container d-flex mt-7 mb-5 pt-3">
  <div class="hook d-none d-lg-block"></div>
  <div class="corp">
    <div class="">
      <a class="logo">Actors Register</a>
      <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
    </div>
    <div class="modal-body">
      <div class="modal-inner">
        <div class="credentials-box">
          <div class="simple-credentials js-simple-credentials">
            <div class="credentials-or">
              <span>Llena el siguiente formulario</span>
            </div>
            <form [formGroup]="actorForm">
              <div class="form-group"> <!-- Nombre de Usuario -->
                <label class="control-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="username" formControlName="username" placeholder="Daniebro">
              </div>

              <div class="form-group"> <!-- Nomnbre completos -->
                <label class="control-label">Nombres Completos</label>
                <input type="text" class="form-control" id="primerNombre" formControlName="primerNombre" placeholder="Danni André">
              </div>

              <div class="form-group"> <!-- Apellidos completos -->
                <label class="control-label">Apellidos Completos</label>
                <input type="text" class="form-control" id="apellidos" formControlName="apellidos" placeholder="Almito Gil">
              </div>

              <div class="form-group"> <!-- Nombre Artístico -->
                <label class="control-label">Nombre Artístico</label>
                <input type="text" class="form-control" id="nombreArtistico" formControlName="nombreArtistico" placeholder="Almito Gil">
              </div>

              <fieldset class="form-group"><!-- Genero -->
                <label class="control-label">Eres mayor de edad?</label>
                <div class="row">
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="mayorEdad" id="mayorEdad0" value="1" checked>
                      <label class="form-check-label">
                        Si
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="mayorEdad" id="mayorEdad1" value="0">
                      <label class="form-check-label">
                        No
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <div class="form-group"><!-- Correo electronico -->
                <label>Correo electronico</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
              </div>

              <div class="form-group"><!-- Contraseña -->
                <label>Contraseña</label>
                <input type="password" id="password" class="form-control" formControlName="password" aria-describedby="passwordHelpInline">
              </div>

              <div class="form-group"><!-- Confirma Contraseña -->
                <label>Confirma contraseña</label>
                <input type="password" value="" class="form-control" placeholder="Confirm Password">
              </div>

              <div class="form-group"><!-- Alias -->
                <label>Alias</label>
                <input type="text" class="form-control" id="alias" formControlName="alias" placeholder="Alias">
              </div>

              <fieldset class="form-group"><!-- Genero -->
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Genero</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="genero" id="gridRadios1" value="0" checked>
                      <label class="form-check-label">
                        Masculino
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="genero" id="gridRadios2" value="1">
                      <label class="form-check-label">
                        Femenino
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <div class="form-group"><!-- Nuemro de teléfono -->
                <label>Numero de Teléfono</label>
                <input type="text" class="form-control" id="telefonoFijo" formControlName="telefonoFijo" placeholder="Numero de teléfono">
              </div>

              <div class="form-group"> <!-- Fecha de nacimiento -->
                <input type="number" class="form-control" formControlName="fechaNacimiento">
              </div>

              <div class="form-group"> <!-- Pais -->
                <label class="control-label">Pais</label>
                <input type="text" class="form-control" id="pais" formControlName="pais" placeholder="Pais">
              </div>


              <div class="form-group d-flex"> <!-- talla de camisa y chaqueta y pantalon-->
                <div class="form-group mr-3">
                  <label class="control-label">Talla de camisa</label>
                  <input type="text" class="d-inline form-control" id="tallaCamisa" formControlName="tallaCamisa" placeholder="talla de camisa">
                </div>
                <div class="form-group">
                  <label class="control-label">talla de chaqueta</label>
                  <input type="text" class="d-inline form-control" id="tallaChaqueta" formControlName="tallaChaqueta" placeholder="talla de chaqueta">
                </div>
                <div class="form-group mr-3">
                  <label class="control-label">Talla de pantalon</label>
                  <input type="text" class="d-inline form-control" id="tallaPantalon" formControlName="tallaPantalon" placeholder="talla de pantalon">
                </div>
              </div>

              <div class="form-group d-flex"> <!-- talla de Pie y Altura-->
                <div class="form-group mr-3">
                  <label class="control-label">Pie</label>
                  <input type="text" class="d-inline form-control" id="pie" formControlName="pie" placeholder="Pie">
                </div>
                <div class="form-group">
                  <label class="control-label">Altura</label>
                  <input type="text" class="d-inline form-control" id="altura" formControlName="altura" placeholder="Altura">
                </div>
              </div>

              <div class="form-group d-flex"> <!-- Color de Piel y Pelo-->
                <div class="form-group mr-3">
                  <label class="control-label">Color de Piel</label>
                  <input type="text" class="d-inline form-control" id="colorPiel" formControlName="colorPiel" placeholder="Color de Piel">
                </div>
                <div class="form-group">
                  <label class="control-label">Color de Pelo</label>
                  <input type="text" class="d-inline form-control" id="colorPelo" formControlName="colorPelo" placeholder="Color de Pelo">
                </div>
              </div>

              <div class="form-group d-flex"> <!-- Color de Ojo y DNI-->
                <div class="form-group mr-3">
                  <label class="control-label">Color de ojos</label>
                  <input type="text" class="d-inline form-control" id="colorOjos" formControlName="colorOjos" placeholder="Color de ojos">
                </div>
                <div class="form-group">
                  <label class="control-label">Code DNI</label>
                  <input type="text" class="d-inline form-control" id="numeroDNI" formControlName="numeroDNI" placeholder="#####">
                </div>
              </div>

              <div class="form-group d-flex"> <!-- Modelo de Coche y Moto-->
                <div class="form-group mr-3">
                  <label class="control-label">Modelo de Coche</label>
                  <input type="text" class="d-inline form-control" id="modeloCoche" formControlName="modeloCoche" placeholder="Modelo de Coche">
                </div>
                <div class="form-group">
                  <label class="control-label">Modelo de Moto</label>
                  <input type="text" class="d-inline form-control" id="modeloMoto" formControlName="modeloMoto" placeholder="Modelo de Moto">
                </div>
              </div>

              <div class="form-group"> <!-- Numero de Seguridad Social -->
                <label class="control-label">Numero de Seguridad Social</label>
                <input type="text" class="form-control" id="numeroSeguridadSocial" formControlName="numeroSeguridadSocial" placeholder="Numero de Seguridad Social">
              </div>

              <div class="form-group d-flex"> <!-- DNIPadre y Madre-->
                <div class="form-group mr-3">
                  <label class="control-label">DNI Padre</label>
                  <input type="text" class="d-inline form-control" id="numeroDNIPadre" formControlName="numeroDNIPadre" placeholder="DNI Padre">
                </div>
                <div class="form-group">
                  <label class="control-label">DNI Madre</label>
                  <input type="text" class="d-inline form-control" id="numeroDNIMadre" formControlName="numeroDNIMadre" placeholder="DNI Madre">
                </div>
              </div>

              <div class="form-group">
                  <label class="control-label">Descripción de Ultimos Trabajos</label>
                  <input type="text" class="d-inline form-control" id="" placeholder="Ultimo Trabajo">
              </div>

              <div class="form-group"> <!-- Submit Button -->
                <button type="submit" (click)="registrarActor()" class="btn btn-primary">Registrame!</button>
              </div>

              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label">
                    Acepta los terminos del registro
                  </label>
                </div>
              </div>
            </form>
            <div class="info info--sm">
              Al hacer clic en "Crear cuenta" certifico que tengo 16 años o más y acepto las
              <a class="link-secondary--underlined" target="blank" routerLink="/terms">Condiciones de Uso</a>, la
              <a class="link-secondary--underlined" target="blank" routerLink="/privacy">Política de Privacidad</a> y recibir novedades y promociones.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        ¿Ya tienes cuenta?
        <a routerLink="/login" class="link-primary">
          Entrar
        </a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
