<app-header></app-header>
<div class="bg-fondo">
  <div class="container contect-Ajuste mx-w">
    <div class="">
      <div class="">
        <a class="logo">Registro de Actor</a>
        <p class="mt-3">-----------------</p>
      </div>
      <div class="">
        <div class="">
          <div class="">
            <div class="">
              <div class="">
                <span>Llena el siguiente formulario</span>
              </div>
              <form [formGroup]="actorForm">

                <div class="form-group">
                  <!-- Subida de avatar -->
                  <label class="control-label">Foto de Perfil</label>
                  <input type="file" (change)="onFileAvatarSelected($event)" >
                </div>

                <div class="form-group">
                  <!-- cuerpo entero -->
                  <label class="control-label">Foto cuerpo entero</label>
                  <input type="file" (change)="onFileCuerpoEnteroSelected($event)" ><br>
                </div>
                <div class="form-group">
                  <!-- foto artistico -->
                  <label class="control-label">Foto artistico</label>
                  <input type="file" (change)="onFileArtisticoSelected($event)" ><br>
                </div>

                 <!-- Adjunta fotos Profesionales -->
                 <div  class="form-group">
                  <!-- Modelos de manos -->
                  <label class="control-label">Foto de Manos</label>
                  <input type="file" (change)="onFileManoSelected($event)" multiple="multiple"
                    ><br>
                </div>

                <div class="form-group example-container">
                  <!-- Nombre de Usuario -->
                  <mat-form-field>
                    <input matInput placeholder="Nombre de Usuario" id="username" formControlName="username"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.username.errors }">
                  </mat-form-field>
                  <div *ngIf="submitted && actorForm.controls.username.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.username.errors.required">El usuario es requerido</div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-6 example-container">
                      <!-- Nomnbre completos -->
                      <mat-form-field>
                        <input matInput placeholder="Nombre" id="nombres" formControlName="nombres">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.nombres.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.nombres.errors.required">Su Nombre son requeridos</div>
                      </div>
                    </div>
                    <div class="col-6 example-container">
                      <!-- Apellidos completos -->
                      <mat-form-field>
                        <input matInput placeholder="Apellido" id="apellidos" formControlName="apellidos">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.apellidos.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.apellidos.errors.required">Su Apellido es requerido</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group example-container">
                  <!-- Nombre Artístico -->
                  <mat-form-field>
                    <input matInput placeholder="Nombre Artístico" id="nombreArtistico"
                      formControlName="nombreArtistico"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.nombreArtistico.errors }">
                  </mat-form-field>
                  
                </div>

                <div class="form-group">
                  <!-- ¿De qué grupo étnico se considera? -->
                  <label class="control-label">Raza</label>
                  <select  class="form-control" [(ngModel)]="etniaSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="0" selected>Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of etnias">{{i.nombreEtnia}}</option>
                  </select>
                </div>
                <div [*ngIf]="etniaSelect.nombreEtnia == 'Otro'" class="form-group">
                  <!-- especifique -->
                  <label class="control-label">Especifique otro grupo étnico</label>
                  <textarea forControlName="otro" class="form-control" rows="3"></textarea>
                </div>

                <fieldset class="form-group">
                  <!-- Sexo -->
                  <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
                    <mat-radio-group (change)="onChangeGenero($event)" name="gender" aria-label="Seleccione un Género">
                      <div class="col">
                        <mat-radio-button value="Masculino" id="gridRadios1">Masculino
                        </mat-radio-button>
                      </div>
                      <div class="col">
                        <mat-radio-button value="Femenino" id="gridRadios2">Femenino
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </fieldset>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6 example-container">
                      <mat-form-field>
                        <!-- Contraseña -->
                        <input formControlName="password" matInput placeholder="Ingrese contraseña"
                          [type]="hide ? 'password' : 'text'"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.password.errors }">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <div *ngIf="submitted && actorForm.controls.password.errors" class="invalid-feedback">
                          <div *ngIf="actorForm.controls.password.errors.required">La contraseña es requerida</div>
                          <div *ngIf="actorForm.controls.password.errors.minlength">La contraseña debe tener al menos 6
                            caracteres</div>
                        </div>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-6 example-container">
                      <mat-form-field>
                        <!-- Contraseña -->
                        <input formControlName="confirmPassword" matInput placeholder="Confirme contraseña"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.confirmPassword.errors }">

                        <div *ngIf="submitted && actorForm.controls.confirmPassword.errors" class="invalid-feedback">
                          <div *ngIf="actorForm.controls.confirmPassword.errors.required">La contraseña es requerida
                          </div>
                          <div *ngIf="actorForm.controls.confirmPassword.errors.mustMatch">Las Contraseñas deben
                            Coincidir</div>
                        </div>
                      </mat-form-field>

                    </div>
                  </div>
                </div>

                <div class="form-group example-container">
                  <!-- Nuemro de teléfono -->
                  <mat-form-field>
                    <input id="telefono" (keypress)="numberOnly($event)" formControlName="telefono" matInput
                      placeholder="Numero de Teléfono"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.telefono.errors }">
                    <mat-hint>Ingrese con codigo de area</mat-hint>
                  </mat-form-field>
                  <div *ngIf="submitted && actorForm.controls.telefono.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.telefono.errors.required">El telefono es requerida</div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-6 example-container">
                      <!-- Fecha de nacimiento -->
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento"
                          placeholder="Fecha de nacimiento">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-6 example-container">
                      <!-- Lugar de nacimiento -->
                      <mat-form-field>
                        <input id="placebirth" formControlName="placebirth" matInput placeholder="Lugar de nacimiento">
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-6 example-container">
                      <!-- Naciomnalidad -->
                      <mat-form-field>
                        <input id="nacionalidad" formControlName="nacionalidad" matInput placeholder="Nacionalidad"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.nacionalidad.errors }">
                      </mat-form-field>
                      
                    </div>

                    <div class="col-6 example-container">
                      <!-- Correo electronico -->
                      <mat-form-field>
                        <input formControlName="email" matInput placeholder="Email"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.email.errors }">
    
                        <div *ngIf="submitted && actorForm.controls.email.errors" class="invalid-feedback">
                          <div *ngIf="actorForm.controls.email.errors.required">El correo es requerido</div>
                          <div *ngIf="actorForm.controls.email.errors.enail">El correo debe tener un formato válido</div>
                        </div>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4 example-container">
                      <mat-form-field>
                        <input id="colorPiel" formControlName="colorPiel" matInput placeholder="Color Piel"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.colorPiel.errors }">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.colorPiel.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.colorPiel.errors.required">El color es requerido</div>
                      </div>
                    </div>
                    <div class="col-lg-4 example-container">
                      <mat-form-field>
                        <input id="colorPelo" formControlName="colorPelo" matInput placeholder="Color Pelo"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.colorPelo.errors }">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.colorPelo.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.colorPelo.errors.required">El color es requerido</div>
                      </div>
                    </div>
                    <div class="col-lg-4 example-container">
                      <mat-form-field>
                        <input id="colorOjos" formControlName="colorOjos" matInput placeholder="Color ojos"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.colorOjos.errors }">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.colorOjos.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.colorOjos.errors.required">El color es requerido</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6 example-container">
                      <mat-form-field>
                        <input id="pie" formControlName="pie" matInput placeholder="Talla de Pie"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.pie.errors }">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.pie.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.pie.errors.required">La talla es requerido</div>
                      </div>
                    </div>
                    <div class="col-lg-6 example-container">
                      <mat-form-field>
                        <input id="altura" formControlName="altura" matInput placeholder="Altura"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.altura.errors }">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.altura.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.altura.errors.required">La talla es requerido</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4 example-container">
                      <mat-form-field>
                        <input id="tallaCamisa" formControlName="tallaCamisa" matInput placeholder="Talla de camisa"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.tallaCamisa.errors }">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.tallaCamisa.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.tallaCamisa.errors.required">La talla es requerido</div>
                      </div>
                    </div>
                    <div class="col-lg-4 example-container">
                      <mat-form-field>
                        <input id="tallaChaqueta" formControlName="tallaChaqueta" matInput
                          placeholder="Talla de chaqueta"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.tallaChaqueta.errors }">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.tallaChaqueta.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.tallaChaqueta.errors.required">La talla es requerido</div>
                      </div>
                    </div>
                    <div class="col-lg-4 example-container">
                      <mat-form-field>
                        <input id="tallaPantalon" formControlName="tallaPantalon" matInput
                          placeholder="Talla de pantalon"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.tallaPantalon.errors }">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.tallaPantalon.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.tallaPantalon.errors.required">La talla es requerido</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6 example-container">
                      <mat-form-field>
                        <input id="numeroDNI" formControlName="numeroDNI" matInput placeholder="Numero DNI"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.numeroDNI.errors }">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.numeroDNI.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.numeroDNI.errors.required">El numero es requerida</div>
                      </div>
                    </div>
                    <div class="col-lg-6 example-container">
                      <mat-form-field>
                        <input id="numeroSeguridadSocial" formControlName="numeroSeguridadSocial" matInput
                          placeholder="Numero de Seguridad Social"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.numeroSeguridadSocial.errors }">
                      </mat-form-field>
                      <div *ngIf="submitted && actorForm.controls.numeroSeguridadSocial.errors"
                        class="invalid-feedback">
                        <div *ngIf="actorForm.controls.numeroSeguridadSocial.errors.required">El numero es requerida
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group example-container">
                  <!-- Direccion -->
                  <mat-form-field>
                    <input id="direccion" formControlName="direccion" matInput placeholder="Direccion"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.direccion.errors }">
                  </mat-form-field>
                  <div *ngIf="submitted && actorForm.controls.direccion.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.direccion.errors.required">La dirección es requerida
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4 example-container">
                      <mat-form-field>
                        <input id="localidad" formControlName="localidad" matInput placeholder="Localidad"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.localidad.errors }">
                      </mat-form-field>
                      
                    </div>
                    <div class="col-lg-4 example-container">
                      <mat-form-field>
                        <input id="provincia" formControlName="provincia" matInput placeholder="Provincia">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-4 example-container">
                      <mat-form-field>
                        <input id="codpostal" (keypress)="check($event)" formControlName="codpostal" matInput
                          placeholder="Codigo postal">
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="form-group d-lg-flex d-md-flex d-block">
                  <!-- Carnet de conducir y coche-->
                  <div class="form-group mr-lg-3 mr-md-3 mr-0">
                    <label class="control-label">Carnet de conducir</label>
                    <input type="text" class="d-inline form-control" formControlName="carnetConducir" placeholder=""
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.carnetConducir.errors }">
                    
                  </div>
                  <div class="form-group">
                    <!-- Tipo de carnet -->
                    <label for="exampleFormControlSelect2">Tipo de carnet</label>
                    <select class="form-control" [(ngModel)]="tipoCarnetSelect"
                      [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="">Seleccione</option>
                      <option [ngValue]="item" *ngFor="let item of typecarnet">{{item}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group example-container">
                  <!-- Link de VideoBook -->
                  <mat-form-field>
                    <input id="videoBook" formControlName="videoBook" matInput placeholder="Link de VideoBook">
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6 example-container">
                      <mat-form-field>
                        <input id="modeloCoche" formControlName="modeloCoche" matInput placeholder="Modelo de Coche"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.modeloCoche.errors }">
                      </mat-form-field>
                      
                    </div>
                    <div class="col-lg-6 example-container">
                      <mat-form-field>
                        <input id="modeloMoto" formControlName="modeloMoto" matInput placeholder="Modelo de Moto"
                          [ngClass]="{ 'is-invalid': submitted && actorForm.controls.modeloMoto.errors }">
                      </mat-form-field>
                      
                    </div>
                  </div>
                </div>

                <div class="form-group d-flex">
                  <!-- Foto coche y  foto moto-->
                  <div class="form-group mr-3">
                    <label class="control-label">Foto coche</label>
                    <input type="file" (change)="onFileCocheSelected($event)" >
                  </div>
                  <div class="form-group">
                    <label class="control-label">Foto moto</label>
                    <input type="file" (change)="onFileMotoSelected($event)" >
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6 example-container">
                      <mat-form-field>
                        <input id="colorCoche" formControlName="colorCoche" matInput placeholder="Color de Coche">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-6 example-container">
                      <mat-form-field>
                        <input id="colorMoto" formControlName="colorMoto" matInput placeholder="Color de Moto">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <!-- Tienes tatuajes? -->
                <div class="form-group">
                  <label class="control-label">Tienes tatuajes?</label>
                  <select class="form-control" id="tattos" formControlName="tattos" [(ngModel)]="LinktattoSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="0" selected>Seleccione...</option>
                    <option *ngFor="let i of tattos">{{i}}</option>
                  </select>
                </div>
                <!-- Adjuntar fotos de tatuaje-->
                <div *ngIf="LinktattoSelect == 'Si'" class="form-group">
                  <!-- Fotos Tatuajes -->
                  <label class="control-label">Fotos Tatuajes</label>
                  <input type="file" (change)="onFileTatuajeSelected($event)" multiple="multiple"
                    ><br>
                </div>

                <!-- Eres modelo de manos? -->
                <div class="form-group">
                  <label class="control-label">Eres modelo de manos?</label>
                  <select class="form-control" [(ngModel)]="WorkingSelect" [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="0">Seleccione...</option>
                    <option *ngFor="let item of Models">{{item}}</option>
                  </select>
                </div>
                <!-- Link de trabajos -->
                <div *ngIf="WorkingSelect == 'Si'" class="form-group">
                  <label class="control-label">Link de trabajos</label>
                  <input type="text" class="form-control" 
                    placeholder="https://www.Trabajos.com">
                </div>
                <!-- Adjunta fotos Profesionales -->
                <div *ngIf="WorkingSelect == 'Si'" class="form-group">
                  <!-- Modelos de manos -->
                  <label class="control-label">Modelo de manos profesional</label>
                  <input type="file" (change)="onFileManoSelected($event)" multiple="multiple"
                    ><br>
                </div>

                <div class="example-container form-group">
                  <!-- Deporte -->
                  <mat-form-field>
                    <mat-label>¿ Es Deportista?</mat-label>
                    <mat-select [(ngModel)]="deportistaSelect" [ngModelOptions]="{standalone: true}">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let item of deportista" [value]="item">
                        {{item.nombreDeportista}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!--                 
                    <select forControlName="deportista" class="form-control" [(ngModel)]="deportistaSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option selected>Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of deportista">{{i.nombreDeportista}}</option>
                  </select>
                  -->
                </div>


                <div class="form-group">
                  <!-- Habilidades del deporte-->
                  <mat-card>
                    <h5 class="pb-1">Habilidades del deporte</h5>
                    <hr>

                    <div class="row itemsBlock" style="padding: 0% 5% 0% 5%;">
                      <div *ngFor="let item of deportes" class="col-md-4 col-sm-6 col-12"
                        style="padding: 5px 0px 5px 0px;">
                        <mat-checkbox (change)="OnChange($event, item, 1)">
                          <span class="itemitle">{{item.nombreDeporte}}</span>
                        </mat-checkbox>
                      </div>
                    </div>

                    <!--
                       <div class="d-lg-flex d-md-flex d-sm-block">
                           <div class="col-lg-4">
                             <p>
                               <mat-checkbox formControlName="">Artes marciales</mat-checkbox>
                             </p>
                             <p>
                                 <mat-checkbox formControlName="">Baloncesto</mat-checkbox>
                             </p>
                             <p>
                                 <mat-checkbox formControlName="">Balonmano</mat-checkbox>
                              </p>
                              <p>
                                 <mat-checkbox formControlName="">Béisbol</mat-checkbox>
                              </p>
                              <p>
                                <mat-checkbox formControlName="">Boxeo</mat-checkbox>
                              </p>
                              <p>
                                <mat-checkbox formControlName="">Criket</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Esgrima</mat-checkbox>
                                </p>
                           </div>
                           <div class="col-lg-4">

                             <p>
                               <mat-checkbox formControlName="">Fútbol</mat-checkbox>
                             </p>
                             <p>
                                <mat-checkbox formControlName="">Fútbol americano</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Golf</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Hockey</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Montar a caballo</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Natación</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Padel</mat-checkbox>
                              </p>
                           </div>
                           <div class="col-lg-4">

                              <p>
                                  <mat-checkbox formControlName="">Polo</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Rudby</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Tenis</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Tiro con arco</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Voleibol</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Waterpolo</mat-checkbox>
                              </p>
                           </div>
                       </div>
                       -->

                    <mat-form-field>
                      <input matInput placeholder="Otro">
                    </mat-form-field>
                  </mat-card>
                  <!--  <div
                      class="form-group">
                        <label class="control-label">Habilidades del deporte</label>
                        <select forControlName="deportes" class="form-control" [(ngModel)]="deporteSelect"
                          [ngModelOptions]="{standalone: true}">
                          <option selected>Seleccione...</option>
                          <option [ngValue]="i" *ngFor="let i of deportes">{{i.nombreDeporte}}</option>
                        </select>
                      </div>
                      <div *ngIf="deporteSelect.nombreDeporte == 'Otros'" class="form-group">
                        <label class="control-label">Espesifique otro deporte</label>
                        <textarea class="form-control" forControlName="Otros" rows="3"></textarea>
                      </div> -->
                </div>

                <div class="example-container form-group">
                  <!-- Baile -->

                  <mat-form-field>
                    <mat-label>Baile</mat-label>
                    <mat-select [(ngModel)]="baileSelect" [ngModelOptions]="{standalone: true}">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let item of baile" [value]="item">
                        {{item.nombreBailarin}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!--
                  <label class="control-label">Baile</label>
                  <select forControlName="baile" class="form-control" [(ngModel)]="baileSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option selected>Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of baile">{{i.nombreBailarin}}</option>
                  </select>
                  -->
                </div>

                <div class="form-group">
                  <!-- Estilos de Baile -->
                  <mat-card>
                    <h5 class="pb-1">Estilos de Baile</h5>
                    <hr>

                    <div class="row itemsBlock" style="padding: 0% 5% 0% 5%;">
                      <div *ngFor="let item of estilosBaile" class="col-md-4 col-sm-6 col-12"
                        style="padding: 5px 0px 5px 0px;">
                        <mat-checkbox (change)="OnChange($event, item, 2)">
                          <span class="itemitle">{{item.nombreBaile}}</span>
                        </mat-checkbox>
                      </div>
                    </div>

                    <!--
                       <div class="d-lg-flex d-md-flex d-sm-block">
                           <div class="col-lg-4">
                             <p>
                               <mat-checkbox formControlName="">Ballet clasico</mat-checkbox>
                             </p>
                             <p>
                                 <mat-checkbox formControlName="">Breakdance</mat-checkbox>
                             </p>
                             <p>
                                 <mat-checkbox formControlName="">Chachacha</mat-checkbox>
                              </p>
                              <p>
                                 <mat-checkbox formControlName="">Claqué</mat-checkbox>
                              </p>
                              <p>
                                <mat-checkbox formControlName="">Contemporaneo</mat-checkbox>
                              </p>
                              <p>
                                <mat-checkbox formControlName="">Cumbia</mat-checkbox>
                              </p>
                           </div>
                           <div class="col-lg-4">
                             <p>
                               <mat-checkbox formControlName="">Flamenco</mat-checkbox>
                             </p>
                             <p>
                               <mat-checkbox formControlName="">Funky</mat-checkbox>
                             </p>
                             <p>
                                <mat-checkbox formControlName="">Hiphop</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Merengue</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Pasodoble</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Pole dance</mat-checkbox>
                              </p>
                           </div>
                           <div class="col-lg-4">
                              <p>
                                  <mat-checkbox formControlName="">Salsa</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Samba</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Sevillanas</mat-checkbox>
                              </p>
                              <p>
                                  <mat-checkbox formControlName="">Tango</mat-checkbox>
                              </p>
                           </div>
                       </div>
                       -->
                    <mat-form-field>
                      <input matInput placeholder="Otro">
                    </mat-form-field>
                  </mat-card>
                  <!-- <div  class="form-group">
                        <label class="control-label">Estilos de Baile</label>
                        <select forControlName="estilosBaile" class="form-control" [(ngModel)]="estilosBaileSelect"
                          [ngModelOptions]="{standalone: true}">
                          <option selected>Seleccione...</option>
                          <option [ngValue]="i" *ngFor="let i of estilosBaile">{{i.nombreBaile}}</option>
                        </select>
                      </div>
                      <div *ngIf="estilosBaileSelect.nombreBaile == 'Otros'" class="form-group">
                        <label class="control-label">Espesifique otro baile</label>
                        <textarea class="form-control" forControlName="Otros" rows="3"></textarea>
                      </div> -->
                </div>

                <div class="example-container form-group">
                  <!-- Musico -->

                  <mat-form-field>
                    <mat-label>Músico</mat-label>
                    <mat-select [(ngModel)]="musicoSelect" [ngModelOptions]="{standalone: true}">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let item of musico" [value]="item">
                        {{item.nombreMusico}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!--

                  <label class="control-label">Musico</label>
                  <select forControlName="musico" class="form-control" [(ngModel)]="musicoSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option selected>Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of musico">{{i.nombreMusico}}</option>
                  </select>
                  -->
                </div>
                <div *ngIf="musicoSelect.nombreMusico == 'Profesional'" class="form-group">
                  <!-- Instrumentos musical -->
                  <h5 class="pb-1">Instrumentos musical</h5>
                  <hr>

                  <div class="row itemsBlock" style="padding: 0% 5% 0% 5%;">
                    <div *ngFor="let item of instrumentoss" class="col-md-4 col-sm-6 col-12"
                      style="padding: 5px 0px 5px 0px;">
                      <mat-checkbox (change)="OnChange($event, item, 3)">
                        <span class="itemitle">{{item.nombreInstrumento}}</span>
                      </mat-checkbox>
                    </div>
                  </div>

                  <mat-form-field>
                    <input matInput placeholder="Otro">
                  </mat-form-field>
                </div>

                <!--
                  <select forControlName="instrumentoss" class="form-control" [(ngModel)]="instrumentoSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option selected>Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of instrumentoss">{{i.nombreInstrumento}}</option>
                  </select>
                </div>
                -->



                <!-- Espesifique otro instrumento musical -->
                <!--
                <div *ngIf="instrumentoSelect.nombreInstrumento == 'Otros'" class="form-group">

                  <label class="control-label">Espesifique otro instrumento musical</label>
                  <textarea class="form-control" forControlName="Otros" rows="3"></textarea>
                </div>
                -->
                <div class="example-container form-group">
                  <!-- Cantantes -->

                  <mat-form-field>
                    <mat-label>Cantante</mat-label>
                    <mat-select [(ngModel)]="cantanteSelect" [ngModelOptions]="{standalone: true}">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let item of cantante" [value]="item">
                        {{item.nombreCantante}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!--
                  <label class="control-label">Cantantes</label>
                  <select forControlName="cantante" class="form-control" [(ngModel)]="cantanteSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option selected>Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of cantante">{{i.nombreCantante}}</option>
                  </select>
                  -->
                </div>

                <div class="form-group">
                  <!-- Estilos de cantos -->
                  <mat-card>
                    <h5 class="pb-1">Estilos de cantos</h5>
                    <hr>

                    <div class="row itemsBlock" style="padding: 0% 5% 0% 5%;">
                      <div *ngFor="let item of estilosCanto" class="col-md-4 col-sm-6 col-12"
                        style="padding: 5px 0px 5px 0px;">
                        <mat-checkbox (change)="OnChange($event, item, 4)">
                          <span class="itemitle">{{item.nombreEstiloCanto}}</span>
                        </mat-checkbox>
                      </div>
                    </div>
                    <!--
                      <div class="d-lg-flex d-md-flex d-sm-block">
                        <div class="col-lg-4">
                          <p>
                            <mat-checkbox formControlName="">Blues</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Country</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Dance</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Electro pop</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Flamenco</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Heavy metal</mat-checkbox>
                          </p>
                        </div>
                        <div class="col-lg-4">
                          <p>
                            <mat-checkbox formControlName="">Hip hop</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Lírico</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Pop</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Pop latino</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Punk</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Rap</mat-checkbox>
                          </p>
                        </div>
                        <div class="col-lg-4">
                          <p>
                            <mat-checkbox formControlName="">Reggae</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Rock</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Salsa</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Soul</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Tecno</mat-checkbox>
                          </p>
                        </div>
                      </div>
                      -->
                    <mat-form-field>
                      <input matInput placeholder="Otro">
                    </mat-form-field>
                  </mat-card>
                  <!-- <label class="control-label">Estilo de cantos</label>
                        <select class="form-control" forControlName="estilosCanto" [(ngModel)]="estilosCantoSelect"
                          [ngModelOptions]="{standalone: true}">
                          <option selected>Seleccione...</option>
                          <option [ngValue]="i" *ngFor="let i of estilosCanto">{{i.nombreEstiloCanto}}</option>
                        </select>
                      </div>
                      <div *ngIf="estilosCantoSelect.nombreEstiloCanto == 'Otros'" class="form-group">
                        <label class="control-label">Espesifique otro estilos</label>
                        <textarea class="form-control" forControlName="Otros" rows="3"></textarea>
                      </div> -->
                </div>

                <div class="form-group">
                  <!-- Habilidades -->
                  <mat-card>
                    <h5 class="pb-1">Habilidades</h5>
                    <hr>
                    <div class="row itemsBlock" style="padding: 0% 5% 0% 5%;">
                      <div *ngFor="let item of habilidadess" class="col-md-4 col-sm-6 col-12"
                        style="padding: 5px 0px 5px 0px;">
                        <mat-checkbox (change)="OnChange($event, item, 5)">
                          <span class="itemitle">{{item.nombreHabilidad}}</span>
                        </mat-checkbox>
                      </div>
                    </div>
                    <!--
                      <div class="d-lg-flex d-md-flex d-sm-block">
                        <div class="col-lg-4">
                          <p>
                            <mat-checkbox formControlName="">Acrobacia</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Buceo</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Ciclismo BMX</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Contorsionista</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Escalada</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Lenguaje de signos</mat-checkbox>
                          </p>
                        </div>
                        <div class="col-lg-4">
                          <p>
                            <mat-checkbox formControlName="">Magia</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Motocross</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Paracaidismo</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Parkour</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Piraguismo</mat-checkbox>
                          </p>
                        </div>
                        <div class="col-lg-4">
                          <p>
                            <mat-checkbox formControlName="">Pompas Jabon</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Puenting</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Skater</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Sombras chinescas</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Surf</mat-checkbox>
                          </p>
                        </div>
                      </div>
                      -->
                    <mat-form-field>
                      <input matInput placeholder="Otro">
                    </mat-form-field>
                  </mat-card>
                  <!--  <select forControlName="habilidadess" class="form-control" [(ngModel)]="habilidadessSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option selected>Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of habilidadess">{{i.nombreHabilidad}}</option>
                  </select> -->
                  <!-- <div *ngIf="habilidadessSelect.nombreHabilidad == 'Otros'" class="form-group">
                      <label class="control-label">Espesifique otras habilidades</label>
                      <textarea class="form-control" forControlName="Otros" rows="3"></textarea>
                    </div> -->
                </div>

                <div class="form-group">
                  <!-- Idiomas -->
                  <mat-card>
                    <h5 class="pb-1">Idiomas</h5>
                    <hr>
                    <div class="row itemsBlock" style="padding: 0% 5% 0% 5%;">
                      <div *ngFor="let item of idiomas" class="col-md-4 col-sm-6 col-12"
                        style="padding: 5px 0px 5px 0px;">
                        <mat-checkbox (change)="OnChange($event, item, 6)">
                          <span class="itemitle">{{item.nombreIdioma}}</span>
                        </mat-checkbox>
                      </div>
                    </div>

                    <!--
                      <div class="d-lg-flex d-md-flex d-sm-block">
                        <div class="col-lg-4">
                          <p>
                            <mat-checkbox formControlName="">Alemán</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Catalán</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">English</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Frances</mat-checkbox>
                          </p>
                        </div>
                        <div class="col-lg-4">
                          <p>
                            <mat-checkbox formControlName="">Galés</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Gallegos</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Italiano</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Valenciano</mat-checkbox>
                          </p>
                        </div>
                        <div class="col-lg-4">
                          <p>
                            <mat-checkbox formControlName="">Romano</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Ruso</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Español</mat-checkbox>
                          </p>
                          <p>
                            <mat-checkbox formControlName="">Sueco</mat-checkbox>
                          </p>
                        </div>
                      </div>
                      -->
                    <mat-form-field>
                      <input matInput placeholder="Otro">
                    </mat-form-field>
                  </mat-card>
                  <!--  <select forControlName="idiomas" class="form-control" [(ngModel)]="idiomasSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option selected>Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of idiomas">{{i.nombreIdioma}}</option>
                  </select> -->
                  <!-- <div *ngIf="idiomasSelect.nombreIdioma == 'Otros'" class="form-group">
                      <label class="control-label">Espesifique otro Idioma</label>
                      <textarea class="form-control" forControlName="Otros" rows="3"></textarea>
                    </div> -->
                </div>

                <!-- Bilingue -->
                <div class="form-group">
                  <label class="control-label">Bilingue</label>
                  <input type="text" class="form-control" id="bilingue" formControlName="bilingue" placeholder="">
                </div>

                <div class="form-group">
                  <!-- Ultimos trabajos -->
                  <label class="control-label">Descripción de Ultimos Trabajos</label>
                  <input type="text" class="d-inline form-control" formControlName="ultimosTrabajos"
                    placeholder="Teatro">
                  <input type="text" class="d-inline form-control" formControlName="ultimosTrabajos" placeholder="Cine">
                  <input type="text" class="d-inline form-control" formControlName="ultimosTrabajos"
                    placeholder="Ficcion">
                  <input type="text" class="d-inline form-control" formControlName="ultimosTrabajos"
                    placeholder="Publicidad">
                </div>

                <div class="form-group">
                  <!-- Observaciones -->
                  <label for="">Observaciones</label>
                  <textarea class="form-control" id="" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <div class="form-check">
                    <mat-checkbox formControlName="acceptTerms" id="acceptTerms"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.acceptTerms.value === false }">Acepta
                      los terminos del registro</mat-checkbox>
                    <div *ngIf="submitted && actorForm.controls.acceptTerms.value === false" class="invalid-feedback">
                      Los
                      terminos es requerido</div>
                  </div>
                </div>

                <div class="info info--sm">
                  Al hacer clic en "Crear cuenta" certifico que tengo 16 años o más y acepto las
                  <a class="link-secondary--underlined" target="blank" routerLink="/terms">Condiciones de Uso</a>, la
                  <a class="link-secondary--underlined" target="blank" routerLink="/privacy">Política de
                    Privacidad</a>
                  y recibir novedades y promociones.
                </div>

                <div class="mt-4 form-group">
                  <!-- Submit Button -->
                  <button type="submit" (click)="registrarActor()" class="btn btn-primary">
                    Registrame!
                    <span *ngIf="submitted && actorForm.controls.acceptTerms.value === true"><i
                        class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size: 13px;"></i></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="">
          ¿Ya tienes cuenta?
          <a routerLink="/login" class="link-primary">
            Entrar
          </a>
         
        </div>
      </div>
    </div>
  </div>
</div>






<app-footer></app-footer>