.bg-fondo{
    background-image: url(/assets/img/sliderview/slider02-min.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
}

.example-container > * {
    width: 100%;
}

.mat-card {
    background: rgba(255, 255, 255, 0.26);
    color: rgba(0,0,0,.87);
}

.preview{
    display: block;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: #0b164a; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}

.contect-Ajuste{
    max-width: 700px;
    background: rgba(255, 255, 255, 0.72);
    transform: translate(0px, 30%);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70vh;
}

.form-control{
    border: 1px solid #f7f7f7;
    box-shadow: 3px 3px 11px 0 #ccc;
    outline: none;
}

@media (min-width: 992px){
    .modal--credentials--signup .modal-content {
        min-height: 602px;
        padding-left: 460px;
        overflow: hidden;
    }
}