.featured-products{
  border-top: 6px solid #0b174a;
  padding-top: 5%;
  padding-bottom: 5%;
}
h5.heading span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  background: #fff;
  position: relative;
  z-index: 99;
  padding: 0 15px;
  margin: 0 auto;
  display: table;
}
.filter {
  display: table;
  /* margin: 0 auto 35px; */
}
ul, li {
  margin: 0;
  list-style: none;
  padding: 0;
}
.filter li {
  float: left;
  margin: 0 2px;
}
.filter li a.selected {
  background: #0b174a;
  color: #fff;
}
.filter li a {
  line-height: 34px;
  background: rgba(135,135,135,0.2);
  text-align: center;
  line-height: 34px;
  display: table;
  padding: 0 15px;
  font-size: 13px;
  color: #333333;
  position: relative;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
}
.filter li a.selected:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 4px 4px 0;
  border-color: #0b174a transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: 0 auto;
}