<app-header></app-header>

<div class="h-100 bg-about">
    <div class="pt-5">
        <div class="container">
                    <div class="row text-center">
                        <div class="col-xs-12">
                           <h2 class="h2">About company in whole</h2> 
                        </div>
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                            <div class="empty-space h20-xs"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit cras elementum id metus make it done with mauris posuere</p>
                        </div>
                    </div>
                    <div class="empty-space h30-xs h60-md"></div>
        </div>
        <div class="container">
                    <div class="row flex">
                        <div class="col-md-6">
                            <div class="percent-img-wrapper">
                                <div class="percent-img-inner">
                                    <div class="percent-img-item-1">
                                        <div class="percent-img-1" style="background-image: url(img/img-1-2.jpg);"></div>
                                    </div>
                                    <div class="percent-img-item-2">
                                        <div class="percent-img-2" style="background-image: url(img/img-2-2.jpg);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1">
                                    <div class="empty-space h50-xs h0-md"></div>
                                    <article class="small-sm">
                                        <h4 class="h4">all at a glance</h4>
                                        <div class="empty-space h20-xs"></div>
                                        <p>Phasellus mattis magna vel augue gravida eleifend. Donec sit amet diam mollis, sodales lorem vel someorci. Proin nec mauris lectus vitae dictum urna bibendum hasellus elementum ex turpis something hendreritdiam</p>
                                        <div class="empty-space h25-xs"></div>
                                    </article>
                                    <ul class="about-list">
                                        <li>
                                            <article class="small-sm">
                                                <img src="img/icon-1.png" alt="">
                                                <h6 class="h6">Studio photo shooting</h6>
                                                <p>Etiam nulla massa, aliquam sed orci vel, malesuada luctus est. In sed laoreet pharetra feugiat, nulla nulla feugiat metus </p>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="small-sm">
                                                <img src="img/icon-2.png" alt="">
                                                <h6 class="h6">Studio photo shooting</h6>
                                                <p>Etiam nulla massa, aliquam sed orci vel, malesuada luctus est. In sed laoreet pharetra feugiat, nulla nulla feugiat metus </p>
                                            </article>
                                        </li>
                                    </ul>
                                    <div class="empty-space h45-xs fl"></div>
                                    <div class="btn-wrap"><a href="#" class="btn-2"><span>read more</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<app-footer></app-footer>