<app-header [ngStyle]="{'background-color':'green' }"></app-header>
<div class="">
    <div class="bg-about pb-4">
        <div class="jumbotron">
            <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12 col-sm-8 col-xs-12">
                                <div class="col-xs-12">
                                    <h2 class="h2">Conócenos</h2> 
                                </div>
                                <div class="empty-space h20-xs"></div>
                                <h5>“Yo hago lo que tú no puedes y tú haces lo que yo no puedo. Juntos podemos hacer grandes cosas”</h5>
                                <span>Madre Teresa de Calcuta</span>
                            </div>
                        </div>
                        <div class="empty-space h30-xs h60-md"></div>
            </div>
            <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="empty-space h50-xs h0-md"></div>
                                        <article class="small-sm">
                                                    <div class="empty-space h20-xs"></div>
                                                    <p>
                                                        Nines Selas Agency nace del corazón. Después de más de 20 años en el sector, hemos querido materializar este ilusionante proyecto basándonos en la experiencia acumulada. Horas y horas de castings, rodajes con mucho frío (y con mucho calor), colas en el catering, conocer a personas maravillosas.... Lo que tenemos en común con casi todo aquel que esté leyendo estas líneas es que nos hemos ilusionado, hemos sufrido, hemos disfrutado y hemos aprendido de la misma forma que cada uno de vosotros.
                                                        Por ello, este proyecto está concebido desde la empatía y los valores que aportan las personas que iréis formando parte de esta familia.
                                                    </p>
                                                    <p>Sobre todo, debemos destacar que Nines Selas Agency se apoya sobre unos sólidos pilares fundamentales:</p>
                                                    <div class="empty-space h25-xs"></div>
                                                    <h6>*Innovacción*: Comenzamos tomando el riesgo de impulsar nuevas ideas orientadas a la satisfacción y comodidad de productoras y actores.</h6>
                                                    <h6>*Profesionalidad*: La profesionalidad es la clave de nuestro proyecto. Nuestra empresa cuenta con más de 20 años de experiencia en distintos sectores. Nuestro equipo humano cuenta con formación y capacidades adquiridas en funciones actorales, así como funciones de producción y agencias de representación.</h6>
                                                    <h6>*Respeto por el *individuo*: En cualquier circunstancia y contexto tratamos a los empleados, partners, clientes y representados con dignidad y respeto. Siempre dentro de un ámbito donde prima la ética profesional, donde el individuo tiene la posibilidad de expresar sus ideas, innovar y crecer tanto desde el punto de vista humano como profesional.</h6>
                                                    <h6>*Ética y Transparencia*: Llevamos a cabo nuestras relaciones con terceros y operativa de acuerdo a los más altos estándares éticos, procediendo siempre conforme a derecho, tratando de preservar en todo momento la imagen de Nines Selas Agency.</h6>
                                                    <h6>*Protección y uso de información personal*: Garantizamos la protección y que en ningún caso se haga un uso indebido de la información personal gestionada por Nines Selas Agency.</h6>
                                                    <div class="empty-space h25-xs"></div>
                                                    <p>En definitiva, no dudes en ponerte en contacto con nosotros a través de los distintos medios que ofrecemos para solicitar más información y comenzar a formar parte de Nines Selas Agency.</p>
                                        </article>
                                        <div class="empty-space h45-xs fl"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
