.bg-fondo{
  background-image: url(/assets/img/sliderview/slider09-min.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;
}

.contect-Ajuste{
  max-width: 700px;
  background: white;
  transform: translate(0px, 30%);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
}

.form-control{
  border: 1px solid #f7f7f7;
  box-shadow: 3px 3px 11px 0 #ccc;
  outline: none;
}

@media (min-width: 992px){
  
}