<app-header></app-header>
<div class="bg-fondo">
  <div class="container contect-Ajuste mx-w">
    <div class="">
      <div class="">
        <a class="logo">Registro de Figuración</a>
        <p class="mt-3">------</p>
      </div>
      <div class="">
        <div class="">
          <div class="">
            <div class="">
              <div class="">
                <span>Llena el siguiente formulario</span>
              </div>
              <form [formGroup]="actorForm">

                <div class="form-group">
                  <!-- Subida de avatar -->
                  <label class="control-label">Foto de Perfil</label>
                  <input type="file" (change)="onFileAvatarSelected($event)" formControlName="avatar"><br>
                </div>

                <div class="form-group">
                  <!-- cuerpo entero -->
                  <label class="control-label">Foto cuerpo entero</label>
                  <input type="file" (change)="onFileCuerpoEnteroSelected($event)" formControlName="avatar"><br>
                </div>
                <div class="form-group">
                  <!-- foto artistico -->
                  <label class="control-label">Foto artistico</label>
                  <input type="file" (change)="onFileArtisticoSelected($event)" formControlName="avatar"><br>
                </div>

                <div class="form-group">
                  <!-- Nombre de Usuario -->
                  <label class="control-label">Nombre de Usuario</label>
                  <input type="text" class="form-control" id="username" formControlName="username" placeholder="Ldiaz"
                    [ngClass]="{ 'is-invalid': submitted && actorForm.controls.username.errors }">
                  <div *ngIf="submitted && actorForm.controls.username.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.username.errors.required">El usuario es requerido</div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- Nomnbre completos -->
                  <label class="control-label">Nombre</label>
                  <input type="text" class="form-control" id="nombres" formControlName="nombres" placeholder="Luis Diaz"
                    [ngClass]="{ 'is-invalid': submitted && actorForm.controls.nombres.errors }">
                  <div *ngIf="submitted && actorForm.controls.nombres.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.nombres.errors.required">El nombre es requerido</div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- Apellidos completos -->
                  <label class="control-label">Apellidos</label>
                  <input type="text" class="form-control" id="apellidos" formControlName="apellidos"
                    placeholder="Almito Gil"
                    [ngClass]="{ 'is-invalid': submitted && actorForm.controls.apellidos.errors }">
                  <div *ngIf="submitted && actorForm.controls.apellidos.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.apellidos.errors.required">El apellido es requerido</div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- Contraseña -->
                  <label>Contraseña</label>
                  <input type="password" (keypress)="numberOnly($event)" class="form-control" formControlName="password"
                    placeholder="Password"
                    [ngClass]="{ 'is-invalid': submitted && actorForm.controls.password.errors }">
                  <div *ngIf="submitted && actorForm.controls.password.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.password.errors.required">La contraseña es requerida</div>
                    <div *ngIf="actorForm.controls.password.errors.minlength">La contraseña debe tener al menos 6
                      caracteres</div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- Confirma Contraseña -->
                  <label>Confirma contraseña</label>
                  <input type="password" (keypress)="numberOnly($event)" formControlName="confirmPassword"
                    class="form-control" placeholder="Confirm Password"
                    [ngClass]="{ 'is-invalid': submitted && actorForm.controls.confirmPassword.errors }">
                  <div *ngIf="submitted && actorForm.controls.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.confirmPassword.errors.required">Confirme que se requiere contraseña
                    </div>
                    <div *ngIf="actorForm.controls.confirmPassword.errors.mustMatch">Las contraseñas deben coincidir
                    </div>
                  </div>
                </div>

                <fieldset class="form-group">
                  <!-- Sexo -->
                  <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="sexo" id="gridRadios1"
                          value="Masculino" checked>
                        <label class="form-check-label">
                          Masculino
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="sexo" id="gridRadios2"
                          value="Femenino">
                        <label class="form-check-label">
                          Femenino
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <div class="form-group">
                  <!-- ¿De qué grupo étnico se considera? -->
                  <label class="control-label">¿De qué grupo étnico se considera?</label>
                  <select forControlName="etnias" class="form-control" [(ngModel)]="etniaSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option selected>Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of etnias">{{i.nombreEtnia}}</option>
                  </select>
                </div>
                <div *ngIf="etniaSelect.nombreEtnia == 'Otro'" class="form-group">
                  <!-- especifique -->
                  <label class="control-label">Especifique otro grupo étnico</label>
                  <textarea forControlName="otro" class="form-control" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <!-- Fecha de nacimiento -->
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento"
                      placeholder="Fecha de nacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <!-- Lugar de nacimiento -->
                  <label class="control-label">Lugar de nacimiento</label>
                  <input type="text" class="form-control" id="placebirth" formControlName="placebirth"
                    placeholder="Smollville"
                    [ngClass]="{ 'is-invalid': submitted && actorForm.controls.placebirth.errors }">
                  <div *ngIf="submitted && actorForm.controls.placebirth.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.placebirth.errors.required">El usuario es requerido</div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- Nuemro de teléfono -->
                  <label>Numero de Teléfono</label>
                  <input type="text" class="form-control" (keypress)="numberOnly($event)" formControlName="telefono"
                    placeholder="Numero de teléfono"
                    [ngClass]="{ 'is-invalid': submitted && actorForm.controls.telefono.errors }">
                  <div *ngIf="submitted && actorForm.controls.telefono.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.telefono.errors.required">El telefono es requerida</div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- Acento -->
                  <label class="control-label">Acento</label>
                  <input type="text" class="form-control" id="acento" formControlName="acento" placeholder="Español">
                </div>

                <div class="form-group">
                  <!-- Naciomnalidad -->
                  <label class="control-label">Nacionalidad</label>
                  <input type="text" class="form-control" id="nacionalidad" formControlName="nacionalidad"
                    placeholder="Pais"
                    [ngClass]="{ 'is-invalid': submitted && actorForm.controls.nacionalidad.errors }">
                  <div *ngIf="submitted && actorForm.controls.nacionalidad.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.nacionalidad.errors.required">La nacionalidad es requerida</div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- Correo electronico -->
                  <label>Correo electronico</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="name@example.com"
                    [ngClass]="{ 'is-invalid': submitted && actorForm.controls.email.errors }">
                  <div *ngIf="submitted && actorForm.controls.email.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.email.errors.required">Correo electrónico es requerido</div>
                    <div *ngIf="actorForm.controls.email.errors.email">Debe ser una dirección de correo electrónico
                      válida</div>
                  </div>
                </div>

                <div class="form-group d-lg-flex d-md-flex d-block">
                  <!-- talla de camisa -->
                  <div class="form-group mr-lg-2 mr-md-2 mr-0">
                    <label class="control-label">Talla de camisa</label>
                    <input type="text" class="d-inline form-control" id="tallaCamisa" formControlName="tallaCamisa"
                      placeholder="talla de camisa"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.tallaCamisa.errors }">
                    <div *ngIf="submitted && actorForm.controls.tallaCamisa.errors" class="invalid-feedback">
                      <div *ngIf="actorForm.controls.tallaCamisa.errors.required">La talla es requerido</div>
                    </div>
                  </div>
                  <div class="form-group mr-lg-2 mr-md-2 mr-0">
                    <!-- talla de chaqueta -->
                    <label class="control-label">talla de chaqueta</label>
                    <input type="text" class="d-inline form-control" id="tallaChaqueta" formControlName="tallaChaqueta"
                      placeholder="talla de chaqueta"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.tallaChaqueta.errors }">
                    <div *ngIf="submitted && actorForm.controls.tallaChaqueta.errors" class="invalid-feedback">
                      <div *ngIf="actorForm.controls.tallaChaqueta.errors.required">La talla es requerido</div>
                    </div>
                  </div>
                  <div class="form-group mr-lg-2 mr-md-2 mr-0">
                    <!-- talla de pantalon -->
                    <label class="control-label">Talla de pantalon</label>
                    <input type="text" class="d-inline form-control" id="tallaPantalon" formControlName="tallaPantalon"
                      placeholder="talla de pantalon"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.tallaPantalon.errors }">
                    <div *ngIf="submitted && actorForm.controls.tallaPantalon.errors" class="invalid-feedback">
                      <div *ngIf="actorForm.controls.tallaPantalon.errors.required">La talla es requerido</div>
                    </div>
                  </div>
                  <div class="form-group mr-lg-3 mr-md-3 mr-0">
                    <!-- talla de Pie -->
                    <label class="control-label">Pie</label>
                    <input type="text" class="d-inline form-control" id="pie" formControlName="pie" placeholder="Pie"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.pie.errors }">
                    <div *ngIf="submitted && actorForm.controls.pie.errors" class="invalid-feedback">
                      <div *ngIf="actorForm.controls.pie.errors.required">La talla es requerido</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- talla de Altura -->
                    <label class="control-label">Altura</label>
                    <input type="text" class="d-inline form-control" id="altura" formControlName="altura"
                      placeholder="Altura" [ngClass]="{ 'is-invalid': submitted && actorForm.controls.altura.errors }">
                    <div *ngIf="submitted && actorForm.controls.altura.errors" class="invalid-feedback">
                      <div *ngIf="actorForm.controls.altura.errors.required">La talla es requerido</div>
                    </div>
                  </div>
                </div>

                <div class="form-group d-lg-flex d-md-flex d-block">
                  <!-- Color de Piel -->
                  <div class="form-group mr-lg-3 mr-md-3 mr-0">
                    <label class="control-label">Color de Piel</label>
                    <input type="text" class="d-inline form-control" formControlName="colorPiel"
                      placeholder="Color de Piel"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.colorPiel.errors }">
                    <div *ngIf="submitted && actorForm.controls.colorPiel.errors" class="invalid-feedback">
                      <div *ngIf="actorForm.controls.colorPiel.errors.required">El color es requerido</div>
                    </div>
                  </div>
                  <div class="form-group mr-lg-3 mr-md-3 mr-0">
                    <!-- Color de Pelo-->
                    <label class="control-label">Color de Pelo</label>
                    <input type="text" class="d-inline form-control" formControlName="colorPelo"
                      placeholder="Color de Pelo"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.colorPelo.errors }">
                    <div *ngIf="submitted && actorForm.controls.colorPelo.errors" class="invalid-feedback">
                      <div *ngIf="actorForm.controls.colorPelo.errors.required">El color es requerido</div>
                    </div>
                  </div>
                  <div class="form-group mr-lg-3 mr-md-3 mr-0">
                    <!-- Color de Ojos-->
                    <label class="control-label">Color de ojos</label>
                    <input type="text" class="d-inline form-control" formControlName="colorOjos"
                      placeholder="Color de ojos"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.colorOjos.errors }">
                    <div *ngIf="submitted && actorForm.controls.colorOjos.errors" class="invalid-feedback">
                      <div *ngIf="actorForm.controls.colorOjos.errors.required">El color es requerido</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- Numero DNI -->
                  <label class="control-label">Numero DNI</label>
                  <input type="text" (keypress)="check($event)" class="d-inline form-control" id="numeroDNI"
                    formControlName="numeroDNI" placeholder="#####"
                    [ngClass]="{ 'is-invalid': submitted && actorForm.controls.numeroDNI.errors }">
                  <div *ngIf="submitted && actorForm.controls.numeroDNI.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.numeroDNI.errors.required">El numero es requerida</div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- Numero de Seguridad Social -->
                  <label class="control-label">Numero de Seguridad Social</label>
                  <input type="text" class="form-control" id="numeroSeguridadSocial"
                    formControlName="numeroSeguridadSocial" placeholder="Numero de Seguridad Social"
                    [ngClass]="{ 'is-invalid': submitted && actorForm.controls.numeroSeguridadSocial.errors }">
                  <div *ngIf="submitted && actorForm.controls.numeroSeguridadSocial.errors" class="invalid-feedback">
                    <div *ngIf="actorForm.controls.numeroSeguridadSocial.errors.required">El numero es requerida</div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" class="form-control" forControlName="direccion"
                    placeholder="Apartmento, studio, or floor">

                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <!-- Localidad -->
                    <label class="control-label">Localidad</label>
                    <input type="text" class="form-control" forControlName="localidad" placeholder="Baleares">

                  </div>
                  <div class="form-group col-md-4">
                    <!-- Provincia -->
                    <label class="control-label">Provincia</label>
                    <input type="text" class="form-control" forControlName="provincia" placeholder="Catalan">

                  </div>
                  <div class="form-group col-md-2">
                    <!-- Codigo Postal -->
                    <label for="inputZip">Codigo Postal</label>
                    <input type="text" (keypress)="check($event)" class="form-control" forControlName="codpostal"
                      placeholder="######">

                  </div>
                </div>

                <div class="form-group d-lg-flex d-md-flex d-block">
                  <!-- Carnet de conducir y coche-->
                  <div class="form-group mr-lg-3 mr-md-3 mr-0">
                    <label class="control-label">Carnet de conducir</label>
                    <input type="text" class="d-inline form-control" formControlName="carnetConducir"
                      placeholder="Modelo de Coche"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.carnetConducir.errors }">
                    <div *ngIf="submitted && actorForm.controls.carnetConducir.errors" class="invalid-feedback">
                      <div *ngIf="actorForm.controls.carnetConducir.errors.required">Carnet es requerido</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- Tipo de carnet -->
                    <label>Tipo de carnet</label>
                    <select class="form-control" formControlName="typecarnet" [(ngModel)]="tipoCarnetSelect"
                      [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="" selected>Seleccione</option>
                      <option [ngValue]="item" *ngFor="let item of typecarnet">{{item}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group d-flex">
                  <div class="form-group mr-3">
                    <!-- Modelo de Coche -->
                    <label class="control-label">Modelo de Coche</label>
                    <input type="text" class="d-inline form-control" id="modeloCoche" formControlName="modeloCoche"
                      placeholder="Modelo de Coche"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.modeloCoche.errors }">
                    <div *ngIf="submitted && actorForm.controls.modeloCoche.errors" class="invalid-feedback">
                      <div *ngIf="actorForm.controls.modeloCoche.errors.required">El modelo es requerido</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- Modelo de Moto-->
                    <label class="control-label">Modelo de Moto</label>
                    <input type="text" class="d-inline form-control" id="modeloMoto" formControlName="modeloMoto"
                      placeholder="Modelo de Moto"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.modeloMoto.errors }">
                    <div *ngIf="submitted && actorForm.controls.modeloMoto.errors" class="invalid-feedback">
                      <div *ngIf="actorForm.controls.modeloMoto.errors.required">El modelo es requerido</div>
                    </div>
                  </div>
                </div>

                <div class="form-group d-flex">
                  <!-- Foto coche y  foto moto-->
                  <div class="form-group mr-3">
                    <label class="control-label">Foto coche</label>
                    <input type="file" (change)="onFileCocheSelected($event)" formControlName="fotoCoche">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Foto moto</label>
                    <input type="file" (change)="onFileMotoSelected($event)" formControlName="fotoMoto">
                  </div>
                </div>

                <div class="form-group d-flex">
                  <!-- Color de Coche y Moto-->
                  <div class="form-group mr-3">
                    <label class="control-label">Color de Coche</label>
                    <input type="text" class="d-inline form-control" id="colorCoche" formControlName="colorCoche"
                      placeholder="Modelo de Coche">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Color de Moto</label>
                    <input type="text" class="d-inline form-control" id="colorMoto" formControlName="colorMoto"
                      placeholder="Modelo de Moto">
                  </div>
                </div>

                <div class="form-group">
                  <!-- Fotos Tatuajes -->
                  <label class="control-label">Fotos Tatuajes</label>
                  <input type="file" (change)="onFileTatuajeSelected($event)" multiple="multiple"
                    formControlName="tattoos"><br>
                </div>

                <div class="form-group">
                  <!-- Modelos de Manos -->
                  <label class="control-label">Modelo de manos profesional</label>
                  <input type="file" (change)="onFileManoSelected($event)" multiple="multiple"
                    formControlName="manos"><br>
                </div>

                <div class="form-group">
                  <!-- Baile -->
                  <label class="control-label">Baile</label>
                  <select forControlName="baile" class="form-control" [(ngModel)]="baileSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="null">Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of baile">{{i.nombreBailarin}}</option>
                  </select>
                </div>
                <div *ngIf="baileSelect.nombreBailarin == 'Profesional' " class="form-group">
                  <!-- Estilos de Baile -->
                  <label class="control-label">Estilos de Baile</label>
                  <select forControlName="estilosBaile" class="form-control" [(ngModel)]="estilosBaileSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="null">Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of estilosBaile">{{i.nombreBaile}}</option>
                  </select>
                </div>
                <div *ngIf="estilosBaileSelect.nombreBaile == 'Otros'" class="form-group">
                  <!-- Espesifique otro baile -->
                  <label class="control-label">Espesifique otro baile</label>
                  <textarea class="form-control" forControlName="Otros" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <!-- Cantantes -->
                  <label class="control-label">Cantantes</label>
                  <select forControlName="cantante" class="form-control" [(ngModel)]="cantanteSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="null">Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of cantante">{{i.nombreCantante}}</option>
                  </select>
                </div>
                <div *ngIf="cantanteSelect.nombreCantante == 'Profesional'" class="form-group">
                  <!-- Estilos de cantos -->
                  <label class="control-label">Estilo de cantos</label>
                  <select class="form-control" forControlName="estilosCanto" [(ngModel)]="estilosCantoSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="null">Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of estilosCanto">{{i.nombreEstiloCanto}}</option>
                  </select>
                </div>
                <div *ngIf="estilosCantoSelect.nombreEstiloCanto == 'Otros'" class="form-group">
                  <!-- Espesifique otros estilos -->
                  <label class="control-label">Espesifique otro estilos</label>
                  <textarea class="form-control" forControlName="Otros" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <!-- Habilidades -->
                  <label class="control-label">Habilidades</label>
                  <select forControlName="habilidadess" class="form-control" [(ngModel)]="habilidadessSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="null">Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of habilidadess">{{i.nombreHabilidad}}</option>
                  </select>
                </div>
                <div *ngIf="habilidadessSelect.nombreHabilidad == 'Otros'" class="form-group">
                  <!-- Espesifique otras habilidades -->
                  <label class="control-label">Espesifique otras habilidades</label>
                  <textarea class="form-control" forControlName="Otros" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <!-- Idiomas -->
                  <label class="control-label">Idiomas</label>
                  <select forControlName="idiomas" class="form-control" [(ngModel)]="idiomasSelect"
                    [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="null">Seleccione...</option>
                    <option [ngValue]="i" *ngFor="let i of idiomas">{{i.nombreIdioma}}</option>
                  </select>
                </div>
                <div *ngIf="idiomasSelect.nombreIdioma == 'Otros'" class="form-group">
                  <!-- Espesifique otro Idioma -->
                  <label class="control-label">Espesifique otro Idioma</label>
                  <textarea class="form-control" forControlName="Otros" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <!-- Observaciones -->
                  <label for="exampleFormControlTextarea1">Observaciones</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input"
                      [ngClass]="{ 'is-invalid': submitted && actorForm.controls.acceptTerms.value === false }" />
                    <label class="form-check-label">
                      Acepta los terminos del registro
                    </label>
                    <div *ngIf="submitted && actorForm.controls.acceptTerms.value === false" class="invalid-feedback">
                      Los
                      terminos es requerido</div>
                  </div>
                </div>

                <div class="info info--sm">
                  Al hacer clic en "Crear cuenta" certifico que tengo 16 años o más y acepto las
                  <a class="link-secondary--underlined" target="blank" routerLink="/terms">Condiciones de Uso</a>, la
                  <a class="link-secondary--underlined" target="blank" routerLink="/privacy">Política de Privacidad</a>
                  y recibir novedades y promociones.
                </div>

                <div class="mt-4 form-group">
                  <!-- Submit Button -->
                  <button type="submit" (click)="registrarActor()" class="btn btn-primary">Registrame!</button>
                </div>

              </form>
            </div>
          </div>
        </div>
        <div class="">
          ¿Ya tienes cuenta?
          <a routerLink="/login" class="link-primary">
            Entrar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
