<app-header></app-header>
<div class="bg-fondo">
    <div class="container contect-Ajuste mx-w d-flex">
        <div class="corp">
          <div class="">
            <a class="logo">Registro de Figuración</a>
            <p class="mt-3">------</p>
          </div>
          <div class="">
            <div class="">
              <div class="credentials-box">
                <div class="simple-credentials js-simple-credentials">
                  <div class="credentials-or">
                    <span>Llena el siguiente formulario</span>
                  </div>
                  <form [formGroup]="actorForm">

                    <div class="form-group"><!-- Subida de avatar -->
                        <label class="control-label">Foto de Perfil</label>
                        <input type="file" (change)="onFileSelected($event)" formControlName="avatar"><br>
                    </div>
                    
                    <div class="form-group"> <!-- Nombre de Usuario -->
                      <label class="control-label">Nombre de Usuario</label>
                      <input type="text" class="form-control" id="username" formControlName="username" placeholder="Ldiaz" [ngClass]="{ 'is-invalid': submitted && actorForm.controls.username.errors }">
                      <div *ngIf="submitted && actorForm.controls.username.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.username.errors.required">El usuario es requerido</div>
                      </div>
                    </div>

                    <div class="form-group"> <!-- Nomnbre completos -->
                      <label class="control-label">Nombres Completos</label>
                      <input type="text" class="form-control" id="nombres" formControlName="nombres" placeholder="Luis Diaz" [ngClass]="{ 'is-invalid': submitted && actorForm.controls.nombres.errors }">
                      <div *ngIf="submitted && actorForm.controls.nombres.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.nombres.errors.required">El nombre es requerido</div>
                      </div>
                    </div>

                    <div class="form-group"> <!-- Apellidos completos -->
                      <label class="control-label">Apellidos Completos</label>
                      <input type="text" class="form-control" id="apellidos" formControlName="apellidos" placeholder="Almito Gil" [ngClass]="{ 'is-invalid': submitted && actorForm.controls.apellidos.errors }">
                      <div *ngIf="submitted && actorForm.controls.apellidos.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.apellidos.errors.required">El apellido es requerido</div>
                      </div>
                    </div>

                    <div class="form-group"><!-- Contraseña -->
                      <label>Contraseña</label>
                      <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && actorForm.controls.password.errors }">
                      <div *ngIf="submitted && actorForm.controls.password.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.password.errors.required">La contraseña es requerida</div>
                        <div *ngIf="actorForm.controls.password.errors.minlength">La contraseña debe tener al menos 6 caracteres</div>
                      </div>
                    </div>

                    <div class="form-group"><!-- Confirma Contraseña -->
                      <label>Confirma contraseña</label>
                      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && actorForm.controls.confirmPassword.errors }">
                      <div *ngIf="submitted && actorForm.controls.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.confirmPassword.errors.required">Confirme que se requiere contraseña</div>
                        <div *ngIf="actorForm.controls.confirmPassword.errors.mustMatch">Las contraseñas deben coincidir</div>
                      </div>
                    </div>

                    <fieldset class="form-group"><!-- Sexo -->
                      <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="sexo" id="gridRadios1" value="Masculino" checked>
                            <label class="form-check-label">
                              Masculino
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="sexo" id="gridRadios2" value="Femenino">
                            <label class="form-check-label">
                              Femenino
                            </label>
                          </div>
                        </div>
                      </div>
                    </fieldset>

                    <div class="form-group"> <!-- Fecha de nacimiento -->
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" placeholder="Fecha de nacimiento">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    </div>

                    <div class="form-group"><!-- Nuemro de teléfono -->
                      <label>Numero de Teléfono</label>
                      <input type="text" class="form-control" formControlName="telefono" placeholder="Numero de teléfono" [ngClass]="{ 'is-invalid': submitted && actorForm.controls.telefono.errors }">
                      <div *ngIf="submitted && actorForm.controls.telefono.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.telefono.errors.required">El telefono es requerida</div>
                      </div>
                    </div>

                    <div class="form-group"> <!-- Acento -->
                      <label class="control-label">Acento</label>
                      <input type="text" class="form-control" id="acento" formControlName="acento" placeholder="Español">
                    </div>

                    <div class="form-group"> <!-- Naciomnalidad -->
                      <label class="control-label">Nacionalidad</label>
                      <input type="text" class="form-control" id="nacionalidad" formControlName="nacionalidad" placeholder="Pais">
                    </div>

                    <div class="form-group"><!-- Correo electronico -->
                      <label>Correo electronico</label>
                      <input type="email" class="form-control" formControlName="email" placeholder="name@example.com" [ngClass]="{ 'is-invalid': submitted && actorForm.controls.email.errors }">
                      <div *ngIf="submitted && actorForm.controls.email.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.email.errors.required">Correo electrónico es requerido</div>
                        <div *ngIf="actorForm.controls.email.errors.email">Debe ser una dirección de correo electrónico válida</div>
                      </div>
                    </div>

                    <div class="form-group d-flex"> <!-- talla de camisa -->
                      <div class="form-group mr-3">
                        <label class="control-label">Talla de camisa</label>
                        <input type="text" class="d-inline form-control" id="tallaCamisa" formControlName="tallaCamisa" placeholder="talla de camisa">
                      </div>
                      <div class="form-group"><!-- talla de chaqueta -->
                        <label class="control-label">talla de chaqueta</label>
                        <input type="text" class="d-inline form-control" id="tallaChaqueta" formControlName="tallaChaqueta" placeholder="talla de chaqueta">
                      </div>
                      <div class="form-group mr-3"><!-- talla de pantalon -->
                        <label class="control-label">Talla de pantalon</label>
                        <input type="text" class="d-inline form-control" id="tallaPantalon" formControlName="tallaPantalon" placeholder="talla de pantalon">
                      </div>
                      <div class="form-group mr-3"><!-- talla de Pie -->
                          <label class="control-label">Pie</label>
                          <input type="text" class="d-inline form-control" id="pie" formControlName="pie" placeholder="Pie">
                        </div>
                        <div class="form-group"><!-- talla de Altura -->
                          <label class="control-label">Altura</label>
                          <input type="text" class="d-inline form-control" id="altura" formControlName="altura" placeholder="Altura">
                      </div>
                    </div>
                    
                    <div class="form-group d-flex"> <!-- Color de Piel -->
                      <div class="form-group mr-3">
                        <label class="control-label">Color de Piel</label>
                        <input type="text" class="d-inline form-control" id="colorPiel" formControlName="colorPiel" placeholder="Color de Piel">
                      </div>
                      <div class="form-group"><!-- Color de Pelo-->
                        <label class="control-label">Color de Pelo</label>
                        <input type="text" class="d-inline form-control" id="colorPelo" formControlName="colorPelo" placeholder="Color de Pelo">
                      </div>
                      <div class="form-group mr-3">
                          <label class="control-label">Color de ojos</label>
                          <input type="text" class="d-inline form-control" id="colorOjos" formControlName="colorOjos" placeholder="Color de ojos">
                      </div>
                    </div>

                    <div class="form-group"><!-- Numero DNI -->
                        <label class="control-label">Numero DNI</label>
                        <input type="text" class="d-inline form-control" id="numeroDNI" formControlName="numeroDNI" placeholder="#####" [ngClass]="{ 'is-invalid': submitted && actorForm.controls.numeroDNI.errors }">
                        <div *ngIf="submitted && actorForm.controls.numeroDNI.errors" class="invalid-feedback">
                          <div *ngIf="actorForm.controls.numeroDNI.errors.required">El numero es requerida</div>
                        </div>
                    </div>

                    <div class="form-group"> <!-- Numero de Seguridad Social -->
                      <label class="control-label">Numero de Seguridad Social</label>
                      <input type="text" class="form-control" id="numeroSeguridadSocial" formControlName="numeroSeguridadSocial" placeholder="Numero de Seguridad Social" [ngClass]="{ 'is-invalid': submitted && actorForm.controls.numeroSeguridadSocial.errors }">
                      <div *ngIf="submitted && actorForm.controls.numeroSeguridadSocial.errors" class="invalid-feedback">
                        <div *ngIf="actorForm.controls.numeroSeguridadSocial.errors.required">El numero es requerida</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Dirección</label>
                      <input type="text" class="form-control" forControlName="direccion" placeholder="Apartmento, studio, or floor">
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6"><!-- Localidad -->
                        <label class="control-label">Localidad</label>
                        <input type="text" class="form-control" forControlName="localidad">
                      </div>
                      <div class="form-group col-md-4"><!-- Provincia -->
                          <label class="control-label">Provincia</label>
                          <input type="text" class="form-control" forControlName="provincia">
                      </div>
                      <div class="form-group col-md-2"><!-- Codigo Postal -->
                        <label for="inputZip">Codigo Postal</label>
                        <input type="text" class="form-control" forControlName="codpostal">
                      </div>
                  </div>

                    <div class="form-group d-flex">
                        <div class="form-group mr-3"><!-- Modelo de Coche -->
                          <label class="control-label">Modelo de Coche</label>
                          <input type="text" class="d-inline form-control" id="modeloCoche" formControlName="modeloCoche" placeholder="Modelo de Coche">
                        </div>
                        <div class="form-group"><!-- Modelo de Moto-->
                          <label class="control-label">Modelo de Moto</label>
                          <input type="text" class="d-inline form-control" id="modeloMoto" formControlName="modeloMoto" placeholder="Modelo de Moto">
                        </div>
                    </div>

                    <div class="form-group d-flex"> <!-- Foto coche y  foto moto-->
                      <div class="form-group mr-3">
                        <label class="control-label">foto coche</label>
                        <input type="text" class="d-inline form-control" id="fotoCoche" formControlName="fotoCoche" placeholder="Modelo de Coche">
                      </div>
                      <div class="form-group">
                        <label class="control-label">foto moto</label>
                        <input type="text" class="d-inline form-control" id="fotoMoto" formControlName="fotoMoto" placeholder="Modelo de Moto">
                      </div>
                    </div>

                    <div class="form-group d-flex"> <!-- Color de Coche y Moto-->
                      <div class="form-group mr-3">
                        <label class="control-label">Color de Coche</label>
                        <input type="text" class="d-inline form-control" id="colorCoche" formControlName="colorCoche" placeholder="Modelo de Coche">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Color de Moto</label>
                        <input type="text" class="d-inline form-control" id="colorMoto" formControlName="colorMoto" placeholder="Modelo de Moto">
                      </div>
                    </div>

                    <div class="form-group"><!-- Fotos Tatuajes -->
                      <label class="control-label">Fotos Tatuajes</label>
                      <input type="file" (change)="onFileSelected($event)" multiple="multiple" formControlName="tattoos"><br>
                    </div>

                    <div class="form-group"><!-- Modelos de Manos -->
                      <label class="control-label">Fotos Manos</label>
                      <input type="file" (change)="onFileSelected($event)" multiple="multiple" formControlName="manos"><br>
                    </div>

                    <div class="form-group"><!-- Cantantes -->
                      <label class="control-label">Cantantes</label>
                      <select class="form-control">
                        <option [ngValue]="0">Seleccione...</option>
                        <option *ngFor="let i of cantos">{{i}}</option>
                      </select>
                    </div>

                    <div class="form-group"><!-- Habilidades -->
                      <label class="control-label">Habilidades</label>
                      <select forControlName="habilidades" class="form-control">
                        <option [ngValue]="0">Seleccione...</option>
                        <option *ngFor="let i of habilidades">{{i}}</option>
                      </select>
                    </div>

                    <div class="form-group"><!-- Idiomas -->
                      <label class="control-label">Idiomas</label>
                      <select formControlName="idiomasHablados" class="form-control">
                        <option [ngValue]="0">Seleccione...</option>
                        <option *ngFor="let i of idiomasHablados">{{i}}</option>
                      </select>
                    </div>

                    <div class="form-group"><!-- Ultimos trabajos -->
                      <label class="control-label">Descripción de Ultimos Trabajos</label>
                      <input type="text" class="d-inline form-control" formControlName="ultimosTrabajos" placeholder="Teatro">
                      <input type="text" class="d-inline form-control" formControlName="ultimosTrabajos" placeholder="Cine">
                      <input type="text" class="d-inline form-control" formControlName="ultimosTrabajos" placeholder="Ficcion">
                      <input type="text" class="d-inline form-control" formControlName="ultimosTrabajos" placeholder="Publicidad">
                  </div>

                    <div class="form-group"><!-- Observaciones -->
                      <label for="exampleFormControlTextarea1">Observaciones</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                      <div class="form-check">
                      <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && actorForm.controls.acceptTerms.errors }" />
                        <label class="form-check-label">
                          Acepta los terminos del registro
                        </label>
                      <div *ngIf="submitted && actorForm.controls.acceptTerms.errors" class="invalid-feedback">Los terminos es requerido</div>
                    </div>
                    </div>

                    <div class="info info--sm">
                      Al hacer clic en "Crear cuenta" certifico que tengo 16 años o más y acepto las
                      <a class="link-secondary--underlined" target="blank" routerLink="/terms">Condiciones de Uso</a>, la
                      <a class="link-secondary--underlined" target="blank" routerLink="/privacy">Política de Privacidad</a> y recibir novedades y promociones.
                    </div>

                    <div class="mt-4 form-group"> <!-- Submit Button -->
                      <button type="submit" (click)="registrarActor()" class="btn btn-primary">Registrame!</button>
                    </div>

                  </form>
                </div>
              </div>
            </div>
            <div class="">
              ¿Ya tienes cuenta?
              <a routerLink="/login" class="link-primary">
                Entrar
              </a>
            </div>
          </div>
        </div>
    </div>
</div>
<app-footer></app-footer>