<app-header></app-header>
<div class="text-center text-white vh-100">
        <div class="crossfade">
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
        </div>
        <div class="center-contenid">
            <div class="col">
                    <div class="mx-auto nine-w p-3 text-white text-center">
                        <a class="navbar-brand smooth-scroll d-lg-none d-md-block d-block" routerLink="/home">
                                <img src="assets/img/logo.png" alt="" style="height: 17%; width: 38%;">
                                <a routerLink="/home" class="navbar-brand" href="#"></a>
                        </a> 

                        <h1 class="masthead-heading fg-50 text-light">Agencia de actores y figuración</h1>
                        <h4 class="masthead-subheading mb-0 text-light">Queremos contar con tu perfil para futuros proyectos del mundo escénico.</h4>
                        <h5 class="masthead-subheading mb-0 mt-4 text-light">APORTA TUS DATOS Y RECUERDA ACTUALIZARTE.</h5>
                        <p class="mt-4">
                                <button class="btn btn-elect" type="button" 
                                        data-toggle="collapse" data-target="#collapseExample" 
                                        aria-expanded="false" aria-controls="collapseExample">
                                                Ingresa Ya.
                                </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                                <a *ngIf="!authService.loggedIn()" routerLink="/figuracion" class="btn btn-elect btn-xl  mt-5 ml-2">Figuración</a>
                                <a *ngIf="!authService.loggedIn()" routerLink="/actors" class="btn btn-elect btn-xl  mt-5 ml-2">Actor</a>
                                <a *ngIf="!authService.loggedIn()" routerLink="/actors" class="btn btn-elect btn-xl  mt-5 ml-2">Niños</a>   
                        </div>
                    </div>
            </div>
        </div>
</div>

<app-footer></app-footer>