<app-header></app-header>
<header class="masthead text-center text-white">
        <div class="crossfade">
                <figure></figure>
                <figure></figure>
              </div>

        <div class="masthead-content">
            <div class="container">
              <h1 class="masthead-heading text-dark">¿Te gustaria estar al dia de las Novedades del cine, tv y publicidad?</h1>
              <h4 class="masthead-subheading mb-0 text-dark">Haz tu perfil visible en pocos minutos y nosotros promocionaremos tu talento y trayectoria</h4>
              <a *ngIf="!authService.loggedIn()" routerLink="/figuracion" class="btn btn-primary btn-xl rounded-pill mt-5 ml-2">Figuración</a>
              <a *ngIf="!authService.loggedIn()" routerLink="/figuracion" class="btn btn-primary btn-xl rounded-pill mt-5 ml-2">Actor</a>
              <a *ngIf="!authService.loggedIn()" routerLink="/figuracion" class="btn btn-primary btn-xl rounded-pill mt-5 ml-2">Modelo</a>
              <a *ngIf="!authService.loggedIn()" routerLink="/register" class="btn btn-primary btn-xl rounded-pill mt-5 ml-2">Niños</a>
            </div>
        </div>
        <!-- <div class="mini-spacer c2a5" style="background-image:url(images/c2a.png)">
            <div class="col-12">
                <div *ngIf="!authService.loggedIn()" class="d-lg-flex d-md-12 d-flex">
                    <div class="float-lg-left col-lg-7 col-md-8 fs-26 align-self-center">
                        <p class="font-semibold text-white mb-0 fg-26 text-dark">¿Quieres trabajar como empresa?</p>
                    </div>
                    <div class="float-lg-right col-lg-5 col-md-4 m-t-10 m-b-10">
                        <button routerLink="/register" class="btn bg-white text-inverse btn-md">Registrate Ahora.!</button>
                    </div>
                </div>
            </div>
        </div> -->
</header>
<app-footer></app-footer>
<!-- <div class="spacer masthead">
  <div class="container">
      <div class="row">

          <div class="col-lg-6 mr-auto">
              <div class="text-box">
                  <h1 class="font-bold text-white">¿Quieres Trabajar con nosotros?</h1>
                  <p class="text-white font-light op-7">Unete, es muy facil.!</p>
                  <form class="m-t-20 aos-init aos-animate" data-aos="fade-left" data-aos-duration="1200">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group">
                                  <a routerLink="/actors" class="btn btn-primary btn-xl rounded-pill mt-5 ml-2">Si Quieres ser actor</a>
                                  <a routerLink="/contrator" class="btn btn-primary btn-xl rounded-pill mt-3 ml-2">Si Quieres contratar modelo</a>
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group">


                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <div class="mini-spacer c2a5" style="background-image:url(images/c2a.png)">
    <div class="container">
        <div class="d-flex">
            <div class="fs-26 align-self-center">
                <h3 class="font-semibold text-white">¿Quieres trabajar como empresa?</h3>
            </div>
            <div class="ml-auto m-t-10 m-b-10">
                <button routerLink="/homeuser" class="btn bg-white text-inverse btn-md">Registrate Ahora.!</button>
            </div>
        </div>
    </div>
  </div>
</div> -->

