<div class="wrapper ">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/46b63d3c-ae67-464c-9a37-670829b2a157/d8ttdm6-5617aa77-87d8-4fb7-bb78-4aab6b0956b5.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ2YjYzZDNjLWFlNjctNDY0Yy05YTM3LTY3MDgyOWIyYTE1N1wvZDh0dGRtNi01NjE3YWE3Ny04N2Q4LTRmYjctYmI3OC00YWFiNmIwOTU2YjUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.L80L4l2NOeCIV3WB491ANP4Ii_9NiIg2m-tgY5M_IaA">
        </div>
      </a>
      <a href="http://www.creative-tim.com" class="fg-16 simple-text logo-normal">
        Administrativo
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a routerLink="/home">
            <i class="fas fa-user-cog"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-bell"></i>
            <p>Notifications</p>
          </a>
        </li>
        <li>
          <a>
            <i class="fas fa-user"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li>
          <a>
            <i class="fas fa-list"></i>
            <p>Table List</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a>{{userInfo.idUser}} {{userInfo.username}} : {{userInfo.nombres}}  {{userInfo.apellidos}}</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form>
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Busqueda...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item btn-rotate dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tasks"></i>
                <p>
                  <span class="d-lg-none d-md-block">Configuración</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li> <a class="btn btn-primary" (click)="authService.logoutUser()" routerLink="/home">Salir</a>

            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="fas fa-warehouse"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Capacity</p>
                    <p class="card-title">150GB
                      <p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-refresh"></i> Update Now
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Usuarios</p>
                    <p class="card-title">5
                      <p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-calendar-o"></i> Last day
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="fab fa-pushed"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Errors</p>
                    <p class="card-title">23
                      <p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-clock-o"></i> In the last hour
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="fab fa-twitter"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Followers</p>
                    <p class="card-title">+45K
                      <p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-refresh"></i> Update now
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h5 class="card-title">Información de Usuario Administrativo</h5>
            </div>
            <div class="card-body ">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody>
                  <tr>
                    <td>Nombre Usuario</td>
                    <td>{{userInfo.username}}</td>
                  </tr>
                  <tr>
                    <td>Correo eléctronico</td>
                    <td>{{userInfo.email}}</td>
                  </tr>
                  <tr>
                    <td>Contraseña</td>
                    <td>{{userInfo.password}}</td>
                  </tr>
                  <tr>
                    <td>Teléfonos</td>
                    <td>{{userInfo.telefono}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12 mx-auto">
                  <div class="md-form">
                    <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
                    <label for="search">Search</label>
                  </div>
                </div>
              </div>
              <table ng-table="tableParams2" mdbTable mdbTableScroll scrollY="true" maxHeight="200" scrollX="true"
                class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                  <tr>
                    <th *ngFor="let head of headElementsUsers; let i = index" aria-controls="tableSortExample"
                      scope="col" [mdbTableSort]="allUsers" [sortBy]="headElementsUsers[i]">{{head | titlecase}}</th>
                    <mdb-icon fas icon="sort"></mdb-icon>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of allUsers; let i = index">
                    <th scope="row">{{user.idUser}}</th>
                    <td>{{user.nombres}} {{user.apellidos}}</td>
                    <td>{{user.edad}}</td>
                    <td>{{user.nombreArtistico}}</td>
                    <td>{{user.sexo}}</td>
                    <td>{{user.alias}}</td>
                    <td>{{user.fechaNacimiento}}</td>
                    <td>{{user.localidad}}</td>
                    <td>{{user.tallaPantalon}}</td>
                    <td>{{user.tallaCamisa}}</td>
                    <td>{{user.tallaChaqueta}}</td>
                    <td>{{user.pie}}</td>
                    <td>{{user.altura}}</td>
                    <td>{{user.colorPiel}}</td>
                    <td>{{user.colorPelo}}</td>
                    <td>{{user.colorOjos}}</td>
                    <td>{{user.modeloCoche}}</td>
                    <td>{{user.modeloMoto}}</td>
                    <td>{{user.razaMascota}}</td>
                    <td>{{user.ultimosTrabajos}}</td>
                    <td>{{user.dniUser}}</td>
                    <td>{{user.numeroSeguroSocial}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.telefono}}</td>
                    <td>{{user.telefono}}</td>
                  </tr>
                </tbody>
              </table>
              <div id="tableCompanies" class="table-editable">
                <table mdbTable2 mdbTableScroll scrollY="true" maxHeight="200" NGTab scrollX="true"
                  class="table table-bordered table-responsive-md table-striped text-center">
                  <thead>
                    <tr>
                      <th *ngFor="let head of headElementsCompanies; let i = index" aria-controls="tableSortExample"
                        scope="col" [mdbTableSort]="allUsers" [sortBy]="headElementsCompanies[i]">{{head | titlecase}}
                      </th>
                      <mdb-icon fas icon="sort"></mdb-icon>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let company of allCompanies; let id = index">
                      <th scope="row">{{company.idUser}}</th>
                      <td>
                        <span (keyup)="changeValue(id, 'username', $event)" (blur)="updateList(id, 'username', $event)"
                          contenteditable="true">{{company.username}}</span>
                      </td>
                      <td>
                        <span (keyup)="changeValue(id, 'email', $event)" (blur)="updateList(id, 'email', $event)"
                          contenteditable="true">{{company.email}}</span>
                      </td>
                      <td>
                        <span (keyup)="changeValue(id, 'telefonoFijo', $event)"
                          (blur)="updateList(id, 'telefonoFijo', $event)"
                          contenteditable="true">{{company.telefono}}</span>
                      </td>
                      <td>
                        <span (keyup)="changeValue(id, 'password', $event)" (blur)="updateList(id, 'password', $event)"
                          contenteditable="true">{{company.password}}</span>
                      </td>
                      <td>
                        <span class="table-remove">
                          <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                            (click)="removeCompany(company.id)">Remove</button>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <canvas id=chartHours width="400" height="100"></canvas>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-history"></i> Updated 3 minutes ago
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer footer-black  footer-white ">
      <div class="container-fluid">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li>
                <a target="_blank">Creative Tim</a>
              </li>
              <li>
                <a target="_blank">Blog</a>
              </li>
              <li>
                <a routerLink="/terms" target="_blank">Licenses</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </div>
</div>