<app-header></app-header>
<div class="h-100 alt-login bg-login">
  <div class="">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Login</h5>
          <form [formGroup]="loginForm">

            <div class="row">

              <mat-form-field class="col-lg-12">
                <mat-icon matSuffix class="text-primary">mail</mat-icon>
                <mat-label>Correo Electónico</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Ingresa tu correo" required
                  [ngClass]="{ 'is-invalid': isSubmitted &amp;&amp; loginForm.controls.email.errors }">
                <div *ngIf="isSubmitted &amp;&amp; loginForm.controls.email.errors" class="text-danger">
                  <div *ngIf="loginForm.controls.email.errors.required">Correo electrónico es requerido</div>
                  <div *ngIf="loginForm.controls.email.errors.email">Debe ser una dirección de correo electrónico válida
                  </div>
                </div>
              </mat-form-field>

              <mat-form-field class="col-lg-12">
                <mat-icon matSuffix class="text-danger">lock</mat-icon>
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" placeholder="*************" required>
              </mat-form-field>

              <mat-form-field class="col-lg-12">
                <mat-icon matSuffix class="text-default">supervisor_account
                </mat-icon>
                <mat-label>Perfil</mat-label>
                <mat-select formControlName="perfil" required>
                  <mat-option value="1">
                    ACTOR
                  </mat-option>
                  <mat-option value="1">
                    FIGURACION
                  </mat-option>
                  <mat-option value="1">
                    NIÑO
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button class="btn btn-lg btn-ninessela btn-block text-uppercase" (click)="loginUser()"
                type="submit">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>