<app-header></app-header>
<div class="h-100 alt-login bg-login">
  <div class="">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Login</h5>
          <form [formGroup]="loginForm">
            <div class="form-group">
              <label>Correo Electronico</label>
              <input type="email" formControlName="email" class="form-control" placeholder="Ingresa tu correo"
                [ngClass]="{ 'is-invalid': isSubmitted &amp;&amp; loginForm.controls.email.errors }">
              <div *ngIf="isSubmitted &amp;&amp; loginForm.controls.email.errors" class="text-danger">
                <div *ngIf="loginForm.controls.email.errors.required">Correo electrónico es requerido</div>
                <div *ngIf="loginForm.controls.email.errors.email">Debe ser una dirección de correo electrónico válida
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" formControlName="password" class="form-control" placeholder="*************"
                required>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Recordar Contraseña</label>
            </div>
            <mat-form-field>
              <mat-label>Perfil</mat-label>
              <mat-select [(value)]="perfil">
                <mat-option value="1">
                  ACTOR
                </mat-option>
                <mat-option value="1">
                  FIGURACION
                </mat-option>
                <mat-option value="1">
                  NIÑO
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button class="btn btn-lg btn-ninessela btn-block text-uppercase" (click)="loginUser()"
              type="submit">Ingresar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>