<div class="wrapper ">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
            <svg class="img-avatar bd-placeholder-img rounded-circle" width="30" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title>
              <rect width="100%" height="100%" fill="#777"/>
              <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
            </svg>
        </div>
      </a>
      <a href="http://www.creative-tim.com" class="text-dark fg-16 simple-text logo-normal">
        {{companyInfo.username}}
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a routerLink="#/home">
            <i class="fas fa-home"></i>
            <p>Home</p>
          </a>
        </li>
        <li>
          <a data-toggle="modal" data-target="#modalDatauser">
              <i class="fas fa-digital-tachograph"></i>
              <p>Mi Perfil</p>
          </a>
        </li>
        <li>
          <a data-toggle="modal" data-target="#ModalInforUser">
            <i class="fas fa-address-card"></i>
            <p>Solicitud de Información</p>
          </a>
        </li>
        <li>
          <a routerLink="/contact" target="_blank">
            <i class="fas fa-envelope-open-text"></i>
            CONTÁCTANOS
          </a>
        </li>
        <li>
          <a routerLink="/contact" target="_blank">
            <i class="fas fa-file-alt"></i>
            TÉRMINOS Y CONDICIONES
          </a>
        </li>
        <li>
          <a routerLink="/contact" target="_blank">
            <i class="fab fa-readme"></i>
              POLÍTICA DE PRIVACIDAD
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container-fluid">
        <div class="col-12 col-lg-6">
          <a class="text-dark"><i class="fas fa-envelope-open-text"> &nbsp; {{companyInfo.email}}</i></a>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row py-2">
            <div class="col">
                <a class="d-lg-none d-block text-dark" data-toggle="modal" data-target="#ModalInforUser">
                    <i class="fas fa-address-card"> &nbsp; Información </i></a>
            </div>
            <div class="col">
                <a class="d-lg-none d-block text-dark" data-toggle="modal" data-target="#modalDatauser">
                    <i class="fas fa-digital-tachograph"> &nbsp;Mi Perfil</i></a>
            </div>
            <div class="col">
                <a class="d-lg-none d-block text-dark" routerLink="#/home"><i class="fas fa-home"> &nbsp; Home</i></a>
            </div>
            <div class="col" style="cursor: pointer;">
                <a class="text-dark" (click)="authService.logoutUser()" routerLink="/home"><i class="fas fa-file-export"> &nbsp; Salir</i></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="content content-out">
      <div class="col-md-12 mx-auto">
            <div class="col-auto ajuste-search">
                <i class="fas fa-search"></i>
            </div>
            <div class="md-form">
              <input placeholder="Búsqueda por diferentes Parámetros..." type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
                class="form-control" id="search" mdbInput>
            </div>
      </div>
      
      <div class="row main-scroll">
        <div class="col-md-12">
          <!-- <div class="card ">
            <div class="card-header ">
              <h5 class="card-title">Información de Compañia</h5>
            </div>
            <div class="card-body ">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody>
                  <tr>
                    <td>Nombre Usuario</td>
                    <td>{{companyInfo.username}}</td>
                  </tr>
                  <tr>
                    <td>Correo eléctronico</td>
                    <td>{{companyInfo.email}}</td>
                  </tr>
                  <tr>
                    <td>Contraseña</td>
                    <td>{{companyInfo.password}}</td>
                  </tr>
                  <tr>
                    <td>Teléfonos</td>
                    <td>{{companyInfo.telefono}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12 mx-auto">
                  <div class="col-auto ajuste-search">
                      <i class="fas fa-search"></i>
                  </div>
                  <div class="md-form">
                    <input placeholder="Búsqueda por diferentes Parámetros..." type="text" [(ngModel)]="searchText"
                      class="form-control" id="search" mdbInput>
                  </div>
                </div>
              </div>
              <br/>
              <table mdbTable mdbTableScroll scrollY="true" maxHeight="600" scrollX="true" class="z-depth-1">
                <thead>
                  <tr>
                    <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col"
                      [mdbTableSort]="allUsers" [sortBy]="headElements[i]">{{head | titlecase}}</th>
                    <mdb-icon fas icon="sort"></mdb-icon>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of allUsers; let i = index">
                    <th scope="row">{{user.idUser}}</th>
                    <td>{{user.nombres}} {{user.apellidos}}</td>
                    <td>{{mayorEdad}}</td>
                    <td>{{user.nombreArtistico}}</td>
                    <td>{{user.sexo}}</td>
                    <td>{{user.alias}}</td>
                    <td>{{user.fechaNacimiento}}</td>
                    <td>{{user.localidad}}</td>
                    <td>{{user.tallaPantalon}}</td>
                    <td>{{user.tallaCamisa}}</td>
                    <td>{{user.tallaChaqueta}}</td>
                    <td>{{user.pie}}</td>
                    <td>{{user.altura}}</td>
                    <td>{{user.colorPiel}}</td>
                    <td>{{user.colorPelo}}</td>
                    <td>{{user.colorOjos}}</td>
                    <td>{{user.modeloCoche}}</td>
                    <td>{{user.modeloMoto}}</td>
                    <td>{{user.razaMascota}}</td>
                    <td>{{user.ultimosTrabajos}}</td>
                    <td>{{user.dniUser}}</td>
                    <td>{{user.numeroSeguroSocial}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.telefono}}</td>
                  </tr>
                </tbody>
              </table>
              <canvas id=chartHours width="400" height="100"></canvas>
            </div>
          </div> -->
            <!-- Card -->
            
            <div class="row">
                <div class="center-spiner" *ngIf="!allUsers">
                  <div class="modal-dialog modal-sm">
                      <span class="fa fa-spinner fa-spin fa-3x"></span>
                  </div>
                </div>
                <div class="col-md-4" *ngFor="let user of allUsers; let i = index">
                  <div class="card mb-4 shadow-sm">
                    <img src="/assets/img/perfil.jpg" style="min-height: 225px; max-height: 225px;" class="img-responsive" alt="">
                    <a data-toggle="modal" data-target="#ModalCarouselUser" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-effect waves-light"><i class="fas fa-chevron-right pl-1"></i></a>
                    <div class="card-body">
                      <h6>{{user.nombres}} {{user.apellidos}}</h6>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="text-dark text-center pt-3">
                          <ul class="list-unstyled list-inline font-small">
                            <li class="list-inline-item pr-2"><i class="fas fa-calendar-alt pr-1"></i>{{user.fechaNacimiento}}</li>
                          </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Card -->
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------------------------------------------------- Modales -------------------------------------------------------->


<!-- Modal Carousel de fotos de usuarios -->
<div class="modal fade" id="ModalCarouselUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" style="top: 100px;">
  <div class="modal-dialog modal-notify modal-info" role="document" style="max-width: 1050px">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <a class="close clou-x" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i></a>
      <!--Body-->
      <div class="modal-body p-0">
        <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
              <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" alt="First slide">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg" alt="Third slide">
              </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!-- Modal Datos de Usuario Empresa-->
<div class="modal fade" id="modalDatauser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-notify modal-success" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header">
      <p class="heading lead">Perfil Empresa</p>
      <p class="text-muted " style="font-size: 13px"></p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>
    <!--Body-->
    <div class="modal-body">
        <div class="row">
          <!-- <div class="col-3 text-center">
            <img src="/assets/img/perfil.jpg" style="min-height: 100px; max-height: 100px;" alt="" class="img-fluid z-depth-1-half rounded-circle">
            <div style="height: 10px"></div>
            <p class="title mb-0">{{companyInfo.username}}</p>
          </div> -->
          <div class="col-12">
              <form class="example-form example-container">
                  <mat-form-field class="example-full-width" fxFlex>
                    <mat-label>{{companyInfo.username}}</mat-label>
                    <input matInput placeholder="{{companyInfo.username}}" readonly>
                  </mat-form-field>
                
                  <mat-form-field class="example-full-width" fxFlex>
                      <mat-label>{{companyInfo.email}}</mat-label>
                      <input matInput placeholder="{{companyInfo.email}}" readonly>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" fxFlex>
                      <mat-label>{{companyInfo.telefono}}</mat-label>
                      <input matInput placeholder="{{companyInfo.telefono}}" readonly>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" readonly>
                      <mat-label>{{companyInfo.password}}</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" readonly>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                  </mat-form-field>
              </form>
          </div>
        </div>
      </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center">
      <a type="button" class="btn btn-success"><i class="fas fa-user-edit"></i>&nbsp; Editar</a>
      <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal"><i class="fas fa-times-circle"></i>&nbsp; No, Gracias</a>
    </div>
  </div>
  <!--/.Content-->
</div>
</div>

<!-- Modal Solicitud de Información-->
<div class="modal fade" id="ModalInforUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-notify modal-info" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header">
      <p class="heading lead">Solicitud de Información</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>
    <!--Body-->
    <div class="modal-body">
      <form class="example-form">
          <div class="example-container">
              <mat-form-field class="example-full-width">
                  <mat-label>* Nombre comercial</mat-label>
                  <input matInput placeholder="Ex. Pizza c.a">
              </mat-form-field>
          </div>
          <div class="example-container">
              <mat-form-field class="example-full-width">
                  <mat-label>* Nombre del contacto</mat-label>
                  <input matInput placeholder="Ex. Pizza c.a">
              </mat-form-field>
          </div>
          <div class="example-container">
              <mat-form-field class="example-full-width">
                  <mat-label>* Email</mat-label>
                  <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                         placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Ingrese un email valido
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email es <strong>requirido</strong>
                  </mat-error>
              </mat-form-field>
          </div>
          <div class="example-container">
              <mat-form-field class="example-full-width">
                  <mat-label>* Descripción de su requerimiento</mat-label>
                  <textarea matInput placeholder="Ex. requerimiento..."></textarea>
              </mat-form-field>
          </div>
      </form>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center">
      <a type="button" class="btn btn-primary"><i class="fas fa-paper-plane"></i>&nbsp; Solicitar</a>
      <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal"><i class="fas fa-times-circle"></i>&nbsp; No, Gracias</a>
    </div>
  </div>
  <!--/.Content-->
</div>
</div>