<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
              <img src="assets/img/Ninesselas-white.png" alt="" style="width: 25%;">
            </a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="navbar-collapse collapse justify-content-end" >
            <ul class="navbar-nav" id="ejm2">
              <li class="nav-item">
                <a class="nav-link js-scroll active" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll" routerLink="/contact">Contáctenos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll" routerLink="/register">Empresas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll" *ngIf="!authService.loggedIn()" routerLink="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
</nav>