<app-header></app-header>
<div class="bg-fondo termns-t">
    <div class="container contect-Ajuste">
        <div class="">
            <div class="d-sm-flex d-block text-light">
                <div class="pt-4 pb-3 ml-auto col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h4> <img src="/images/icon_terms.png" alt="">CONTRATO DE REPRESENTACIÓN ARTÍSTICA</h4>
                    <p>Lee detenidamente el contrato de representación Artística</p>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-left">
                   <!--  <a href="https://www.ninesselas.com/assets/pdf/ContratoderepresentaciónArtística.pdf" target="_blank">
                        <button class="button button-default float-right" type="button" mdbBtn color="primary" mdbWavesEffect>
                            Descargar
                        </button>
                    </a> -->
                </div>
            </div>
        </div>      
        <div class="nss-terms">
            <div class="terms__scroll container fg-15">
                <br>
                <p align="justify">
                        De una parte NINES SELAS GROUP YV S.L. con NIF B 88483946, y Domicilio Social en C/GONZALO HERRERO 18 28039 0 Madrid y en su representación CESAR PEREZ DE TUDELA, con DNI 33520513 Z en adelante denominada Ninesselas, de otra D. ………………………………………….. Con DNI………………………. (En caso de ser menor) como representante legal de  Nombre del Menor …………………………………… DNI del menor…………………… En adelante denominado el “Representado”. Ambas partes reconociéndose capacidad legal suficiente para realizar el siguiente contrato.
                        Exponen que Ninesselas en su objeto social tiene entre otros el de  Empresa de Representación Artística por lo que entre otras su función  es la de facilitar castings
                </p>
                <br>
                <p align="justify">
                        presenciales o fotográficos como actor y/o modelo a sus representados,  la intermediación y  negociación de estos para llevarlos a buen fin, así como la gestión del cobro de los derechos de imagen producidos por esta intermediación.
                        Que D……………………………………………………con DNI………………….. está interesado en ser representado por Ninesselas.
                </p>
                <p align="justify">
                        Estipulan que El representado autoriza a Ninesselas a actuar como su representante Artístico así como a gestionar, y cobrar en su nombre los  Derechos de Imagen
                        que surjan de esta labor.
                        Por su labor de Representación artística, Ninesselas cobrará a su representado un 20% de comisión del importe de los derechos de imagen que hayan sido producidos gracias a la intermediación de Ninesselas como Representante artístico.Ninesselas
                </p>
                <p align="justify">
                        Facturará la comisión a su representado  una vez se haya recibido el cobro de estos.
                        Que este contrato no conlleva ningún tipo de exclusividad del representado, pudiendo el representado trabajar con otros  representantes, pero no podrá ceder la intermediación ni gestión de sus derechos de imagen de un proyecto  facilitado por Ninesselas a otro representante.
                </p>
                <p align="justify">
                        Ninesselas abonará a su representado  el importe correspondiente por el total  de los derechos de imagen negociados a su representado, menos el 20% de Comisión de agencia correspondiente al pago por su labor de intermediación y representación. El representado está sujeto a las retenciones de IRPF que en ese momento marque la ley por derechos de imagen. Ninesselas  realizará el pago  a su representado cuando haya recibido el pago por parte del cliente, no estando obligado en ningún caso a adelantar el  pago de unos derechos de imagen que no hayan sido   cobrados. En caso de impago por parte del cliente, conjuntamente representado y representante realizarán la correspondiente reclamación a la marca que está utilizando incorrectamente  unos derechos de imagen que no han sido abonados. La forma de pago se realizará mediante cheque en nuestras oficinas los días viernes de 10hs a 14hs, a no ser que se acuerde alguna otra forma entre ambas partes.
                </p>
                <p align="justify">
                        La duración de este contrato se considera indefinida pudiendo cualquiera de las partes de forma unilateral resolverlo en cualquier momento notificándolo por
                        escrito, pero si quedasen pendientes pagos o cobros por gestiones ya realizadas, estas se liquidarán de la forma habitual aunque el contrato entre ambas partes haya sido extinguido.
                        Ambas partes renuncian expresamente en
                </p>
            </div>
        </div>
    </div>
    
</div>
<app-footer></app-footer>